{% assign class = class | default: false %}
{% assign title = title | default: false %}
{% assign palette = palette | default: false %}
{% capture class %}review-drawer{% if class %} {{- class -}}{% endif %}{% if palette != blank %} review--palette-{{ palette }}{% endif %}{% endcapture %}

<section id="review-drawer" class="{{ class }} bg--black" data-module="review-drawer">
  {% render 'section-title', title: title, class: 'section-title--review-drawer' %}
  <div class="container review-drawer__container">
    <div class="review-drawer__inner">
      <div data-bv-show="reviews" data-bv-product-id=""></div>
      </div>
    </div>
  </div>
</section>
