/* Form CSS */

.form {
  &--customer-addresses {
    @media (--md-max) {
      border-top: 48px solid var(--black);
    }
  }
}

.form-field {
  position: relative;
  background-color: transparent;

  .form-search--no-margin &, &--no-margin {
    margin: 0;
  }

  @media (--md-max) {
    margin: 0;
  }

  &--hidden {
    display: none;
    visibility: hidden;
  }

  &--buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }

  .form--customer-addresses & {
    margin-bottom: 11px;
    background: var(--shadow);
    color: var(--white);
  }
}

.form-field__label {
  cursor: text;
  position: relative;
  margin-bottom: 1rem;
  color: var(--shadow);

  .product-add-to-cart & {
    text-transform: lowercase;
  }

  &--as-placeholder {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15px;
    margin: 0;
    transform: translate(0, -57%);
    background-color: var(--white);
    transition: transform var(--transition-timing) var(--transition-easing), opacity var(--transition-timing) var(--transition-easing);
    padding: 0 5px;

    @media (--md-max) {
      transform: translate(0, -75%);
      left: 10px;

      .form-field--newsletter & {
        transform: translate(0, -57%);
      }
    }

    @nest .field-has-value ~ &,
    .form-field__input:focus ~ & {
      transform: translate(10%, -57%);
      opacity: 0;

      @media (--md-max) {
        transform: translate(10%, -75%);
        opacity: 0;
      }
    }
  }

  .form-field--inner & {
    transform: translateY(-55%);
  }

  .form-field--quantity & {
    @extend .sr-only;

    opacity: 1;
    transform: none;
  }
}

.form-field__input-wrapper {
  .form-field--label-top & {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form-field__input {
  position: relative;
  z-index: 2;
  transition: all var(--transition-timing) var(--transition-easing);
  box-shadow: inset 0 0 0 1px var(--shadow);
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 12px 20px;
  background: var(--white);
  color: var(--shadow);

  &::-webkit-input-placeholder {
    color: inherit;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--bronze);
  }

  &[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .form-field--textarea & {
    resize: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .form-field--no-margin & {
    padding-right: 130px;
    margin: 0;
  }

  .form-search--nav & {
    border: none;
    padding: 0;
    height: 40px;
    margin: 0;
  }

  .form-field--newsletter & {
    @media (--md-max) {
      margin: 0;
    }
  }

  .form-field--quantity & {
    border-top: 1px solid var(--slate);
    border-bottom: 1px solid var(--slate);
    width: 31px;
    height: 24px;
    padding: 0;
    background: transparent;
    text-align: center;
    color: var(--white);
  }

  .form-field--email &, .form-field--password &, .form-field--account & {
    appearance: none;
    border: solid 2px var(--steel);
    padding: 1.5rem 2rem;
    background: transparent;
    color: var(--steel);
  }

  &.field-has-error,
  &.field-empty {
    box-shadow: inset 0 0 0 1px var(--blood);

    &:focus {
      box-shadow: inset 0 0 0 2px var(--blood);
    }
  }

  .form-field--borderless &:not(:focus),
  .form-field--borderless &:not(.field-has-error,.field-empty,.field-has-value) {
    box-shadow: none;
  }

  .form--customer-addresses & {
    padding: 12px 15px;
    color: var(--white);
    box-shadow: none;
    background: var(--shadow);
    border: 2px solid var(--steel);
  }
}

.button.form-submit {
  display: block;
  cursor: pointer;
  outline: none;

  .form-field--inner & {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    width: 108px;
    height: 48px;
  }
}

.form-row {
  @media (--md) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.form-row--field {
  width: 100%;

  .form-row--2 & {
    @media (--md) {
      width: calc(50% - 10px);

      &:nth-of-type(odd) {
        margin-right: 20px;
      }
    }
  }
}

.form-label {
  color: var(--shadow);
}

.form-field__error {
  @extend .b3;

  display: none;
  color: var(--blood);

  .form-fiel--error-alt & {
    color: var(--shadow);
  }

  .field-empty ~ &,
  .field-has-error ~ & {
    display: block;
  }

  .form-field--label-top & {
    order: -1;
    margin-top: 4px;
  }
}

.form-field__button {
  .form--customer-addresses & {
    width: calc(50% - 5px);

    @media (--md) {
      width: calc(50% - 8px);
    }
  }
}

/* Errors generated by Shopify forms */

form .errors {
  @extend .b1;

  margin: 0 0 20px;
  color: var(--blood);
}

.form--alt .errors {
  @extend .b1;

  margin: 0 0 20px;
  color: var(--shadow);
}
