
.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  display: block;
  margin: 0 auto;
  width: 100%;

  @media (--lg-max) and (--md) {
    padding: 0 var(--container-padding-tablet);
  }

  &--post {
    max-width: 1038px;
    margin: 0 auto;
    padding: 0 24px;
  }
}

.right-container {
  margin-left: auto;

  @media (min-width: 1200px) {
    margin-right: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
  }
}

.left-container {
  margin-right: auto;

  @media (min-width: 1200px) {
    margin-left: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
  }
}

.bg {
  &--black {
    background-color: var(--black);
  }

  &--yellow {
    background-color: var(--yellow);
  }

  &--shadow {
    background-color: var(--shadow);
  }

  &--bone {
    background-color: var(--bone);
  }
}

.spacing {
  &--xl {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &--lg {
    padding-top: 100px;
    padding-bottom: 100px;

    &.form-create-account, &.form-login, &.form-reset {
      @media (--lg-max) {
        padding-top: 50px;
      }
    }

    &.super-hero-cta {
      @media (--md-max) {
        padding-bottom: 30px;
      }
    }
  }

  &--md {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &--sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--top-lg {
    padding-top: 50px;
  }

  &--bottom-lg {
    padding-bottom: 50px;

    &.posts-carousel {
      padding: 43px 0 0;

      @media (--lg-max) {
        padding: 0;
      }
    }

    &.posts-carousel--first {
      @media (--lg) {
        padding-top: 65px;
      }
    }

    &.posts-carousel--last {
      @media (--lg) {
        padding-bottom: 70px;
      }

      @media (--lg-max) {
        padding-bottom: 120px;
      }
    }
  }

  &--article {
    padding-bottom: 68px;

    @media (--md) {
      padding-bottom: 107px;
    }
  }

  &--alt-product-card {
    padding-bottom: 135px;

    @media (--md) {
      padding-top: 50px;
      padding-bottom: 114px;
    }
  }
}

.account-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0;

  @media (--md) {
    padding-bottom: 155px;
  }
}

.account-wrapper__left {
  width: 100%;
  background: var(--black);

  @media (--md) {
    max-width: 240px;
    background: transparent;
  }

  .template-customers-order & {
    @media (--md) {
      display: none;
    }
  }
}

.account-wrapper__right {
  width: 100%;

  @media (--md) {
    width: calc(100% - 248px);
    margin-left: 8px;
  }

  .template-customers-order & {
    width: 100%;
    margin: 0;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  clip-path: inset(50%);
}

.width {
  &--25 {
    width: 25%;
  }
}
