body,
html {
  font-family: var(--fenomen);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* html font-size for rem */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem; /* body font-size default is 16px */
  color: var(--black);
  margin-top: var(--navbar-height);

  @media (--xl-max) {
    margin-top: var(--navbar-height-mobile);
  }

  &.has-promo-bar {
    margin-top: var(--navbar-height) + var(--promo-bar-height);

    @media (--xl-max) {
      margin-top: var(--navbar-height-mobile) + var(--promo-bar-height);
    }
  }

  &.template-search {
    background-color: var(--black);
  }

  &.template-page-under-construction {
    margin-top: 0;
    padding-top: 50px;
    background-color: var(--black);

    @media (--lg) {
      padding-top: 140px;
    }
  }

  &.template-page-smile-io {
    background-color: var(--black);
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

#page {
  overflow-x: hidden;
  min-height: calc((100vh - var(--navbar-height)) - var(--footer-height));
  position: relative;
  display: flex;
  flex-direction: column;

  @media (--lg-max) {
    min-height: calc((100vh - var(--navbar-height)) - var(--footer-height-mobile));
  }
}

#preview-bar-iframe {
  height: 64px;
  transform: translateY(70%) !important;

  &:hover {
    transform: translateY(0%) !important;
  }
}

p {
  margin: 0;
}

button,
.button,
input,
textarea,
select {
  &:focus {
    outline: none;
    border-color: var(--yellow);
  }
}

a:focus {
  outline-color: var(--yellow);
}

ul, ol {
  margin: 0;
  padding-inline-start: 20px;
}

.button-reset {
  appearance: none;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

#destini {
  background-color: var(--black) !important;

  @media (--lg) {
    height: 970px !important;
  }

  @media (--lg-max) {
    height: 121vh !important;
  }
}
