:root {
  /* Color Palette */
  --black: #000;
  --white: #fff;
  --steel: #898e8e;
  --bronze: #8f6d4f;
  --blood: #e12727;
  --shadow: #201e1d;
  --slate: #464442;
  --ashe: #5c5957;
  --bone: #dedbd9;
  --pumpkin: #d24728;
  --yule: #541110;
  --passion: #a1316a;
  --shamrock: #00793f;
  --bloom: #3d3385;
  --independance: #284196;
  --gray: #707070;

  /* Transparent Colors */
  --transparent-purple: rgba(59, 56, 153, 0.75);
  --transparent-grey: rgba(233, 233, 233, 0.75);
  --transparent-black: rgba(0, 0, 0, 0.55);

  /* Transitions */
  --transition-timing: 0.3s;
  --transition-easing: cubic-bezier(0.06, 0.305, 0, 1);
  --transition-easing-2: cubic-bezier(0.505, 0.555, 0.195, 0.925);

  /* Sizing */
  --promo-bar-height: 50px;
  --container-width: 1366px;
  --container-padding: 25px;
  --container-padding-tablet: 80px;
  --navbar-height: 104px;
  --navbar-height-mobile: 104px;
  --footer-height: 344px;
  --footer-height-mobile: 255px;
}
