{% assign class = class | default:false %}
{% capture class %}section-title{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="section-title">
  <h2 class="module-name">section-title</h2>
</section>
