{% assign class = class | default: false %}
{% assign title = title | default: false %}
{% capture class %}section-title{% if class %} {{- class -}}{% endif %}{% endcapture %}
{% if title %}
  <section class="{{ class }}" data-module="section-title">
    <div class="container section-title__container">
      <h2 class="h1 section-title__title">{{ title }}</h2>
    </div>
  </section>
{% endif %}
