/* styles for the section-title module go in this file */

.section-title {
  padding: 80px 0;
  text-align: center;

  &--product-hero-card {
    padding: 70px 46px 0;
    color: var(--blood);
    text-align: center;

    @media (--md) {
      @extend .h1;

      padding-top: 138px;
      padding-bottom: 60px;
    }
  }
}

.section-title__title {
  @extend .h2;

  color: var(--blood);

  @media (--lg) {
    @extend .h1;
  }
}
