/* styles for svg */

.svg {
  &--404 {
    background-color: var(--black);
    padding-top: 115px;

    svg {
      display: block;
      margin: 0 auto;
      width: 67%;

      @media (--lg-max) {
        width: 85%;
      }
    }
  }

  &--skull2 {
    width: 47%;
    max-width: 336px;
    margin: 0 auto;
    color: var(--white);
  }
}
