.alt-product-card__image {
  position: relative;
  display: block;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.alt-product-card__content {
  color: var(--white);
  text-align: center;
}

.alt-product-card__title {
  display: block;
  margin-top: 2px;
  color: var(--white);
  text-decoration: none;

  @media (--md) {
    margin-top: 20px;
  }

  &:hover {
    color: var(--blood);
  }
}

.alt-product-card__description {
  @media (--md-max) {
    margin-top: 2px;
  }
}

.alt-product-card__review {
  margin-top: 5px;
}

.alt-product-card__review-link {
  display: flex;
  justify-content: center;
  align-items: center;

  .yotpo {
    pointer-events: none;

    .star-clickable {
      align-items: center;
    }

    .yotpo-icon-star,
    .yotpo-icon-half-star,
    .yotpo-icon-empty-star {
      font-size: 15px !important;
    }

    .yotpo-stars {
      margin-right: 7px;
    }

    a,
    .text-m {
      @extend .b1;
    }

    .yotpo-icon-double-bubble {
      display: none;

      & + .questions {
        &::before {
          content: ',';
          color: var(--white);
        }
      }
    }

    .pull-left.ask-question {
      display: none;
    }
  }
}

.alt-product-card__price {
  @media (--md) {
    margin-top: 2px;
  }
}

.alt-product-card__button {
  margin: 22px auto 0;

  @media (--md) {
    margin-top: 24px;
  }
}

.standalone-bottomline {
  display: flex;
  justify-content: center;
}
