{% assign class = class | default:false %}
{% capture class %}product-card{% if class %} {{- class -}}{% endif %}{% endcapture %}
{% if button_class_custom %}
  {%- assign button_class = button_class | append: ' ' | append: button_class_custom -%}
{% endif %}

<section class="product-card{% if class %} {{ class }}{% endif %}" data-module="product-card">
  <div class="product-card__inner">
    <div class="product-card__header">
      <div class="product-card__image-container">
        <a href="#" class="product-card__image-link">
          {%- render 'image', src: 'https://cdn.shopify.com/s/files/1/0506/4183/0047/files/mega_banner.jpg?v=1617163411' -%}
        </a>
      </div>
      <form method="post" action="/cart/add" class="product-card__form"> 
        <div class="product-card__variant-choices-wrapper">
          <div class="product-card__variant-choices product-card__variant-choices--weight">
            <div class="product-card__variant-choices-inner">
              <div class="product-card__choice">
                <input id="variant-1-size-1" type="radio" name="variant[Size]" class="radio product-card__item-input" value="1lb">
                <label for="variant-1-size-1" class="label label--radio product-card__item">
                  1LB
                </label>
              </div>
              <div class="variant-selector__choice">
                <input id="variant-1-size-2" type="radio" name="variant[Size]" class="radio product-card__item-input" value="2lb">
                <label for="variant-1-size-2" class="label label--radio product-card__item">
                  2LB
                </label>
              </div>
              <div class="variant-selector__choice">
                <input id="variant-1-size-3" type="radio" name="variant[Size]" class="radio product-card__item-input" value="5lb">
                <label for="variant-1-size-3" class="label label--radio product-card__item">
                  5LB
                </label>
              </div>
            </div>
          </div>
          <div class="product-card__variant-choices product-card__variant-choices--material">
            <div class="product-card__variant-choices-inner">
              <div class="variant-selector__choice">
                <input id="variant-2-size-1" type="radio" name="variant[Size]" class="radio product-card__item-input" value="1lb">
                <label for="product-2-size-1" class="label label--radio product-card__item">
                  Ground
                </label>
              </div>
              <div class="variant-selector__choice">
                <input id="variant-2-size-2" type="radio" name="variant[Size]" class="radio product-card__item-input" value="1lb">
                <label for="product-2-size-2" class="label label--radio product-card__item">
                  Whole Bean
                </label>
              </div>
            </div>
          </div>
        </div>
        {%- render 'button', button_url: button_url, button_value: 'Add To Cart', tag: 'button', custom_attrs: 'type="submit"' class: button_class -%}
      </form>
    </div>
    <div class="product-card__infor">
      <div class="product-card__title">
        Featured product title for each item
      </div>
      <div class="product-card__review">
        Review
      </div>
      <div class="product-card__price b2">
        $33
      </div>
    </div>
  </div>
</section>
