/* styles for the product-card module go in this file */

.grid-product {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (--l) {
    width: 70%;
  }

  .product-card {
    width: calc(((1 / 2) * 100%) - 8px);
    margin-bottom: 37px;

    @media (--l) {
      width: calc(((1 / 3) * 100%) - 8px);
    }

    &:nth-child(3n) {
      width: 100%;

      @media (--l) {
        width: calc((1 / 3) * 100%);
      }
    }
  }
}

.product-card__header {
  position: relative;
  padding-bottom: 100%;
}

.product-card__form {
  display: none;

  @media (--l) {
    position: absolute;
    display: block;
  }
}

.product-card__image-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.product-card__title {
  margin-top: 8px;
}

.product-card__price {
  margin-top: 5px;
}
