/* styles for the form-create-account module go in this file */

.form-create-account {
  background-color: var(--black);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-create-account__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-header__title {
  color: var(--blood);
  text-align: center;
}

.form-create-account__field {
  &:not(:first-of-type) {
    margin-top: 1.5rem;
  }
}

.form-create-account__form {
  max-width: 336px;
  width: 100%;
  margin-top: 3em;

  @media (--md-max) {
    margin-top: 3rem;
  }
}

.create-account-form__submit {
  width: 100%;
  margin-top: 3rem;
}

.form-create-account__checkbox {
  margin-top: 2rem;
}
