<section class="form-create-account container" data-module="form-create-account">
    <div class="create-account-header">
        <h1 class="h3 create-account-header__title">CREATE YOUR ACCOUNT</h1>
    </div>
    <div class="create-account-form">
        {% form 'create_customer' %}
        {{ form.errors | default_errors }}
        {%- render 'input-text', label: 'First Name', id: 'fName', name: 'customer[first_name]' -%}
        {%- render 'input-text', label: 'Last Name', id: 'lName', name: 'customer[last_name]' -%}
        {%- render 'input-text', label: 'Email Address*', id: 'email', name: 'customer[email]' -%}
        {%- render 'input-password', label: 'Password*', id: 'password', name: 'customer[password]' -%}
        {%- render 'button', tag: 'button', custom_attrs: 'type="submit"', button_value: 'Sign Up', class: 'button--light create-account-form__submit' -%}
        {% endform %}
    </div>
</section>
