/* styles for the form-reset module go in this file */

.form-reset {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.form-reset__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-reset-header__copy {
  margin: 10px auto 0;
  color: var(--white);
}

.form-reset-header {
  margin: 0 auto 25px;
  text-align: center;
}

.form-reset__title {
  color: var(--blood);
}

.form-reset-form {
  display: flex;
  flex-direction: column;
  max-width: 336px;
  width: 100%;
}

.form-reset-submit {
  margin-top: 1.5rem;
  width: 100%;
}

.form-reset__field {
  &:last-of-type {
    margin-top: 1.3rem;
  }
}

.form-forgot__cancel {
  text-decoration: none;
  margin: 20px auto 0;
}
