{% assign class = class | default:false %}
{% capture class %}bolt-illustration-hero{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="bolt-illustration-hero">
  <h2 class="module-name">bolt-illustration-hero</h2>
</section>
