{%- assign feature_image = feature_image | default: false -%}
{%- assign feature_image_mobile = feature_image_mobile | default: false -%}
{%- assign image = image | default: false -%}
{%- assign title = title | default: '' -%}
{%- assign description = description | default: '' -%}

<div class="bolt-illustration-hero bg--black">
  <div class="bolt-illustration-hero__container">
    <div class="bolt-illustration-hero__inner">
      {%- if image -%}
        <div class="bolt-illustration-hero__image">
          {%- render 'image', class: 'image--contain', src: image -%}
        </div>
      {%- endif -%}

      <div class="bolt-illustration-hero__content">
        {%- if title -%}
          <h1 class="h1 bolt-illustration-hero__title">{{ title }}</h1>
        {%- endif -%}
        {%- if description -%}
          <p class="bolt-illustration-hero__description">
            {{ description }}
          </p>
        {%- endif -%}

        {%- if feature_image or feature_image_mobile -%}
          <div class="bolt-illustration-hero__feature">
            {%- if feature_image -%}
              {%- render 'image', src: feature_image, class: 'bolt-illustration-hero__desktop-image' -%}
            {%- endif -%}
            {%- if feature_image_mobile -%}
              {%- render 'image', src: feature_image_mobile, class: 'bolt-illustration-hero__mobile-image' -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
