{%- assign desktop_image = section.feature_image | img_url: 'master' -%}
{%- assign mobile_image = section.feature_image_mobile | img_url: 'master' -%}

{%- if blocks.size > 0 -%}
  {%- for block in blocks -%}
    <div class="bolt-illustration-hero">
      <div class="bolt-illustration-hero__container">
        <div class="bolt-illustration-hero__inner">

          {%- if block.settings.image != blank -%}
            <div class="bolt-illustration-hero__image">
              {%- assign srouce = block.settings.image | img_url: 'master' -%}
              {%- render 'image', src: srouce -%}
            </div>
          {%- endif -%}

          <div class="bolt-illustration-hero__content">
            {%- if block.settings.title != blank -%}
              <h1 class="bolt-illustration-hero__title">{{ block.settings.title }}</h1>
            {%- endif -%}
            {%- if block.settings.description != blank -%}
              <p class="bolt-illustration-hero__description">
                {{ block.settings.description }}
              </p>
            {%- endif -%}
            {%- if desktop_image != blank or mobile_image != blank -%}
              <div class="bolt-illustration-hero__feature">
                {%- if desktop_image != blank -%}
                  {%- render 'image', src: desktop_image, class: 'bolt-illustration-hero__desktop-image' -%}
                {%- endif -%}
                {%- if mobile_image != blank -%}
                  {%- render 'image', src: mobile_image, class: 'bolt-illustration-hero__mobile-image' -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
