.bolt-illustration-hero {
  position: relative;
  padding: 42px 0 90px;
  color: var(--white);
  background: var(--black);

  @media (--lg) {
    padding: 179px 0 255px;
  }

  &:nth-child(even) {
    & .bolt-illustration-hero__title,
    & .bolt-illustration-hero__description {
      text-align: right;
    }

    & .bolt-illustration-hero__inner {
      align-items: flex-end;

      @media (--lg) {
        align-items: center;
        flex-direction: row-reverse;
      }
    }

    & .bolt-illustration-hero__feature {
      left: 0;
      right: auto;
      transform: translate3d(-38px, -100%, 0) scaleX(-1);

      @media (--lg) {
        left: 0;
        transform: translate3d(-38px, 0, 0) scaleX(-1);
      }
    }
  }
}

.bolt-illustration-hero__title {
  @extend .h1;

  padding-top: 42px;
  color: var(--blood);

  @media (--lg) {
    padding-top: 0;
  }
}

.bolt-illustration-hero__description {
  @extend .p1;

  padding-top: 3px;

  @media (--lg) {
    padding-top: 0;
  }
}

.bolt-illustration-hero__desktop-image {
  @media (--lg-max) {
    display: none;
  }
}

.bolt-illustration-hero__mobile-image {
  @media (--lg) {
    display: none;
  }
}

.bolt-illustration-hero__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 38px;

  @media (--lg) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 percentage(170/1920);
  }
}

.bolt-illustration-hero__feature {
  position: absolute;
  top: 0;
  right: 0;
  width: 175px;
  transform: translate3d(38px, -100%, 0);
  z-index: 1;

  @media (--lg) {
    top: auto;
    bottom: 0;
    width: percentage(785/1920);
    max-width: 785px;
    transform: translate3d(0, 0, 0);
  }

  &::before {
    content: '';
    display: block;
    padding-top: calc((300 / 175) * 100%);

    @media (--lg) {
      padding-top: calc((1187 / 785) * 100%);
    }
  }
}

.bolt-illustration-hero__image {
  position: relative;
  bottom: 0;
  right: 0;
  width: 196px;
  z-index: 1;

  @media (--lg) {
    width: percentage(348/1580);
    max-width: 348px;
    margin-right: 40px;
  }

  &::before {
    content: '';
    display: block;
    padding-top: calc((230 / 196) * 100%);

    @media (--lg) {
      padding-top: calc((408 / 348) * 100%);
    }
  }

  & .image__img {
    object-fit: contain;
  }
}

.bolt-illustration-hero__content {
  position: relative;

  @media (--lg) {
    position: static;
    width: percentage(650/1580);
  }
}
