{% assign class = class | default:false %}
{%- assign desktop_image = section.image | img_url: 'master' -%}
{%- assign mobile_image = section.image_mobile | img_url: 'master' -%}

{% capture class %}hero{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }}" data-module="hero">
  <div class="hero__inner">
    <div class="hero__feature">
      {%- if section.video != blank -%}
        <div class="hero__video-wrapper">
          {%- render 'video',
            mod_src: section.video,
            mod_class: 'hero__video'
          -%}
        </div>
      {%- else -%}
      {%- if desktop_image != blank or mobile_image != blank -%}
        <div class="hero__image">
          <div class="hero__image-wrapper">
            {%- if desktop_image != blank -%}
              {%- render 'image', src: desktop_image, class: 'hero__image-desktop' -%}
            {%- endif -%}
            {%- if mobile_image != blank -%}
              {%- render 'image', src: mobile_image, class: 'hero__image-mobile' -%}
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
    {%- if section.title != blank or section.description != blank -%}
      <div class="hero__content">
        <div class="hero__container">
          <h1 class="h1 hero__title">{{ section.title }}</h1>
          <p class="p1 hero__description">
            {{ section.description }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>
