{% assign class = class | default false %}
{% capture class %}timeline-card{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="timeline-card">
  <h2 class="module-name">timeline-card</h2>
</section>
