/* styles for the form-forgot module go in this file */

.form-forgot {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.visible {
    visibility: visible;
    opacity: 1;
    position: static;
  }
}

.form-forgot-header__copy {
  margin: 10px auto 0;
}

.form-forgot-header {
  text-align: center;
  color: var(--white);
}

.form-forgot-form {
  max-width: 336px;
  width: 100%;
  margin-top: 3rem;
}

.form-forgot-submit {
  margin-top: 1.5rem;
  width: 100%;
}

.form-forgot-form__success {
  margin-bottom: 20px;
  color: var(--white);
}

.form-forgot__cancel {
  color: var(--white);
  margin-top: 2rem;
}
