/* styles for the footer-cta module go in this file */

.footer-cta {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 120px 0;

  @media (--lg-max) and (--md) {
    padding: 60px 0;
  }

  @media (--md-max) {
    padding: 100px 0;
  }
}

.footer-cta__img-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 60vw;
  height: 100%;

  @media (--md-max) {
    width: 100%;
    height: 60%;
  }
}

.footer-cta__links {
  display: flex;
  flex-direction: row;
  margin: 40px auto 0;
  width: 100%;
  justify-content: center;

  @media (--md-max) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
  }
}

.footer-cta__title {
  margin-top: 10px;
}

.footer-cta__link {
  &:not(:last-of-type) {
    @media (--md) {
      margin-right: 30px;
    }

    @media (--md-max) {
      margin-bottom: 20px;
    }
  }
}

.footer-cta__container {
  position: relative;
}

.footer-cta__desktop-image {
  @media (--md-max) {
    display: none;
  }
}

.footer-cta__mobile-image {
  @media (--md) {
    display: none;
  }
}
