/* styles for the footer-cta module go in this file */

.footer-cta {
  background-color: var(--blood);
  color: var(--shadow);
  position: relative;
  overflow: hidden;
  padding: 36px 0 54px;

  @media (--lg) {
    padding: 54px 0 60px;
  }

  &--scoop-desktop {
    @media (--lg-max) {
      display: none;
    }
  }

  &--scoop-mobile {
    padding-top: 47px;

    @media (--lg) {
      display: none;
    }
  }

  @each $color in bronze, steel, white, pumpkin, yule, passion, shamrock, bloom, independance {
    &--palette-$(color) {
      background-color: var(--$color);
    }
  }
}

.footer-cta__container {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}

.footer-cta__img-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 60vw;
  height: 100%;

  @media (--md-max) {
    width: 100%;
    height: 60%;
  }
}

.footer-cta__links {
  display: flex;
  flex-direction: row;
  margin: 40px auto 0;
  width: 100%;
  justify-content: center;

  @media (--md-max) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
  }
}

.footer-cta__title {
  @extend .h4;

  text-align: center;

  @media (--lg) {
    @extend .h5;
  }
}

.footer-cta__link {
  &:not(:last-of-type) {
    @media (--md) {
      margin-right: 30px;
    }

    @media (--md-max) {
      margin-bottom: 20px;
    }
  }
}

.footer-cta__desktop-image {
  @media (--md-max) {
    display: none;
  }
}

.footer-cta__mobile-image {
  @media (--md) {
    display: none;
  }
}
