{% assign class = class | default:false %}
{% capture class %}post-header{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="post-header">
  <h2 class="module-name">post-header</h2>
</section>
