/* styles for the input-radio module go in this file */

.form-field--radio {
  .form-field__input {
    visibility: hidden;
    display: none;

    &:checked + .form-field__label::before {
      background: var(--blood);
      border-color: var(--blood);
    }
  }

  .form-field__label {
    position: relative;
    padding-left: 16px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      border: 1px solid var(--shadow);
      border-radius: 50%;
      background: transparent;
      transform: translate(0, -50%);
    }
  }
}
