{%- layout 'theme' -%}

{%- comment -%}
This template has some complicated version depending on which type of blog we're showing. 
If this comment is still here, please consult with the lead developer on the project before proceeding.
{%- endcomment -%}

{%- render 'carousel' -%}

{%- assign list_article = blog.metafields.article_hero_card.article -%}
{%- capture content_slides -%}
  {% for handle in list_article %}
    {%- assign notice = blog.metafields.article_hero_card.notice_title[forloop.index0] -%}
    {%- assign article = articles[handle] -%}
    {% assign class = 'swiper-slide' %}
    {% assign title = article.title %}
    {% assign image = article.image.src | img_url: 'master' %}
    {% assign url = article.url %}
    {% assign description = article.excerpt %}
    {% capture info %}
      {{ article.author }} - {{ article.created_at | time_tag: format: 'month_day_year' }}
    {% endcapture %}
    {% assign blog = handle | split: '/' | first %}

    {%- render 'article-hero-card',
        class: class,
        notice: notice,
        title: title,
        image: image,
        url: url,
        description: description,
        info: info,
        blog: blog
    -%}
  {% endfor %}
{%- endcapture -%}
{%- render 'carousel', class: 'carousel--article-hero-card article-hero-card__contents bg--black', children: content_slides, spacing: 0, slides_per_view: 1, navigation: true -%}

{%- render 'carousel' -%}

<div class="bg--black">
  {% paginate blog.articles by 1 %}
    {% capture grid_content %}
      {% for post in blog.articles %}
        {% comment %}
        TODO: Remove hard-coded post-card classes to replace with post-card--viewed JavaScript
        {% endcomment %}
        {% assign post_class = 'post-card--test' %}
        {% if forloop.first %}
          {% assign post_class = post_class | append: 'post-card--viewed' %}
        {% endif %}

        {% assign post_image = post | img_url: 'master' %}

        {%- render 'post-card',
          title: post.title,
          url: post.url,
          image_src: post_image,
          image_alt: post.image.alt,
          author: post.author,
          published_date: published_date,
          class: post_class -%}
      {% endfor %}
    {% endcapture %}

    {%- render 'grid',
      class: 'bg--black',
      children: grid_content
    -%}

    {%- render 'pagination', paginate: paginate -%}
  {% endpaginate %}
</div>

{%- render 'footer-cta', title: 'MISSING OUT NEW STUFF TOTALLY SUCKS. SO, DON’T MISS OUT.', enable_subscribe_form: true %}
