{%- comment -%}Home Page{%- endcomment -%}
{%- layout 'theme' -%}

{%- assign home_hero_position = shop.metafields.homepage.hero_headline_position | join: '' | handleize -%}
{%- assign home_hero_headline = shop.metafields.hero.headline -%}
{%- assign home_hero_subheading = shop.metafields.hero.subheading -%}
{%- assign home_hero_video = shop.metafields.accentuate.homepage_hero_video -%}
{%- assign home_hero_image = shop.metafields.accentuate.homepage_hero_fallback | map: 'src' | first -%}
{%- assign home_hero_image_mobile = shop.metafields.accentuate.homepage_hero_fallback_mobile | map: 'src' | first -%}
{%- assign home_hero_cta_text = shop.metafields.accentuate.hero_cta_text -%}
{%- assign home_hero_cta_link = shop.metafields.accentuate.hero_cta_link -%}
{%- assign sub_hero_products = shop.metafields.accentuate.sub_hero_carousel | split: '|' -%}

{%- capture after_content -%}
  <a class="hero_cta button" href="{{ home_hero_cta_link }}">{{ home_hero_cta_text }}</a>
{%- endcapture -%}

{%- assign hero_class = 'hero--homepage' -%}

{% if home_hero_position %}
  {% assign hero_class = hero_class | append: ' hero--content-' | append: home_hero_position %}
{% endif %}

{%- render 'hero',
  class: hero_class,
  video: home_hero_video,
  desktop_image: home_hero_image,
  mobile_image: home_hero_image_mobile,
  title: home_hero_headline,
  description: home_hero_subheading,
  after_content: after_content
-%}

{%- render 'title-copy',
  title: shop.metafields.accentuate.sub_hero_heading,
  content: shop.metafields.accentuate.sub_hero_subheading
-%}

{%- capture product_cards -%}
  {% for handle in sub_hero_products | limit: 9 %}
  {% assign product = all_products[handle] %}
    {%- assign product_image = product.featured_image | img_url: 'master' -%}
    {%- assign product_price = product.price | money -%}
    {%- render 'alt-product-card',
      class: 'swiper-slide',
      image_src: product_image,
      title: product.title,
      description: 'Featured product title for each item',
      link: product.url,
      price: product_price,
      product_id: product.id
    -%}
  {% endfor %}
{%- endcapture -%}

{%- render 'carousel', children: product_cards, class: 'carousel--alt-product-card bg--black spacing--alt-product-card', spacing: 77, slides_per_view: 3, navigation: true -%}

{% assign icon_url = shop.metafields.accentuate.fair_trade_icon | map: 'src' %}
{%- render 'icon-title',
  icon: icon_url,
  content: shop.metafields.accentuate.fair_trade_description
-%}

{%- assign big_texts = shop.metafields.accentuate.big_text -%}
{%- assign big_text_descriptions = shop.metafields.accentuate.big_text_description -%}
{%- assign big_text_images = shop.metafields.accentuate.big_text_image %}
{%- assign big_text_cta_texts = shop.metafields.accentuate.big_text_cta_text -%}
{%- assign big_text_cta_links = shop.metafields.accentuate.big_text_cta_link -%}
{% for big_text in big_texts %}
  {%- assign image = big_text_images[forloop.index0] | map: 'src'-%}
  {%- assign remainder = forloop.index0 | modulo: 2 -%}
  {% if remainder != 0 %}
    {% assign class = 'super-hero-cta--reverse' %}
  {% else %}
    {%- assign class = '' -%}
  {% endif %}
  {%- render 'super-hero-cta', 
    class: class,
    big_text: big_text, 
    description: big_text_descriptions[forloop.index0] ,
    image: image,
    cta_text: big_text_cta_texts[forloop.index0],
    cta_link: big_text_cta_links[forloop.index0]
  -%}
{% endfor %}

{%- assign list_article = shop.metafields.article_hero_card.article -%}
{%- capture content_slides -%}
  {% for handle in list_article %}
    {%- assign blog_handle = handle | split: '/' | first -%}
    {%- assign blog_acf = blogs[blog_handle].metafields -%}
    {%- assign fallback_images = blog_acf.accentuate.default_image | first -%}
    {%- assign notice = shop.metafields.article_hero_card.notice_title[forloop.index0] -%}
    {%- assign article = articles[handle] -%}
    {% assign class = 'swiper-slide' %}
    {% assign title = article.title %}
    {%- assign image = fallback_images.src -%}
    {%- if article.image != blank -%}
      {% assign image = article.image.src | img_url: 'master' %}
    {%- endif -%}
    {% assign url = article.url %}
    {% assign description = article.excerpt %}
    {% capture info %}
      {{ article.author }} - {{ article.created_at | time_tag: format: 'month_day_year' }}
    {% endcapture %}
    {% assign blog = handle | split: '/' | first %}

    {%- render 'article-hero-card',
      class: class,
      notice: notice,
      title: title,
      image: image,
      url: url,
      description: description,
      info: info,
      blog: blog
    -%}
  {% endfor %}
{%- endcapture -%}
{%- render 'carousel', class: 'carousel--article-hero-card article-hero-card__contents bg--black', children: content_slides, spacing: 0, slides_per_view: 1, navigation: true -%}

{%- render 'footer-cta', title: 'MISSING OUT NEW STUFF TOTALLY SUCKS. SO, DON’T MISS OUT.', enable_subscribe_form: true, class: 'footer-cta--scoop-desktop' %}


