{%- layout 'theme' -%}

{%- assign shop_all_acf = pages['shop-all'].metafields.accentuate -%}
{%- assign titles = shop_all_acf.shop_all_card_title -%}
{%- assign links = shop_all_acf.shop_all_card_link -%}
{%- assign images = shop_all_acf.shop_all_card_image -%}
{%- assign images_mobile = shop_all_acf.shop_all_card_image_mobile -%}

{%- if titles.size > 0 -%}
  {%- for title in titles -%}

    {%- assign image = images[forloop.index0] | map: 'src' -%}
    {%- assign image_mobile = images_mobile[forloop.index0] | map: 'src' -%}
    {%- assign link = links[forloop.index0] | prepend: 'collections/' -%}

    {%- capture after_content -%}
      <a class="hero_cta button" href="{{ link }}">Shop Now</a>
    {%- endcapture -%}

    {%- render 'hero',
      class: 'hero--list-collections hero--content-center bg--black',
      title: title,
      mobile_image: mobile_image,
      image: image,
      after_content: after_content
    -%}
  {%- endfor -%}
{%- endif -%}

{%- render 'footer-cta', title: shop.metafields.globals.footer_cta_title, enable_subscribe_form: true %}
