{%- layout 'theme' -%}

{%- render 'carousel' -%}
{%- render 'product-hero-card' -%}

{%- comment -%}we'll likely need som wrapper modules to do this properly{%- endcomment -%}
{%- render 'breadcrumbs' -%}
{%- render 'plp-sort-header' -%}
{%- render 'plp-filter' -%}

{%- render 'grid' -%}
<div class="container">
  <div class="grid-product">
    {%- render 'product-card',
      image_src: 'https://cdn.shopify.com/s/files/1/0506/4183/0047/files/mega_banner.jpg?v=1617163411',
      title: 'Featured product title for each item',
      price: '$33'
    -%}
    {%- render 'product-card',
      image_src: 'https://cdn.shopify.com/s/files/1/0506/4183/0047/files/mega_banner.jpg?v=1617163411',
      title: 'Featured product title for each item',
      price: '$33'
    -%}
    {%- render 'product-card',
      class: 'product-card--large'
      image_src: 'https://cdn.shopify.com/s/files/1/0506/4183/0047/files/mega_banner.jpg?v=1617163411',
      title: 'Featured product title for each item',
      price: '$33'
    -%}
  </div>
</div>

{%- render 'footer-cta', title: 'LETS DRINK COFFEE AND THROW THINGS AT HAPPY PEOPLE', enable_subscribe_form: true %}
