{%- layout 'theme' -%}

{%- render 'wysiwyg',
  class: 'container wysiwyg--margin-bottom wysiwyg--margin-top',
  content: page.content
-%}

<div id="findify_results" style="min-height: 400px;">
  <div class="findify-component-spinner"></div>
</div>
