{% assign class = class | default false %}
{% assign sport_select_options = page.metafields.contact.sponsor_sport %}
{% capture class %}form-contact-sponsor container{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }}" data-module="form-contact-sponsor">
  <form class="form-contact-form form-contact-form--sponsor" action="/" data-name="Athlete Sponsorship">
    {%- render 'input-text', name: 'name', id: 'name', label: 'Name', placeholder: 'John Smith', label_top: true -%}
    {%- render 'input-select', name: 'sport', id: 'sport', label: 'Sport', placeholder: 'Select Your Sport', options: sport_select_options -%}
    {%- render 'input-email', name: 'email', id: 'email', label: 'Email', placeholder: 'johnsmith@gmail.com', label_top: true  -%}
    {%- render 'input-text', name: 'phone', id: 'phone', label: 'Phone', placeholder: '(123) 456-7890', label_top: true -%}
    {%- render 'input-textarea', name: 'message', id: 'message', label: 'Message', placeholder: 'Type your message...', label_top: true -%}
    <div class="form-contact-submit">
      {% render 'button', tag: 'button', custom_attrs: 'type="submit"', button_value: 'Submit', class: 'form-contact-submit__btn' %}
    </div>
    {%- render 'loading-animation', class: 'hidden' -%}
  </form>
</section>
