.category-card {
  display: block;
  color: var(--white);
  text-decoration: none;
}

.category-card__image {
  position: relative;

  &::before {
    display: block;
    content: '';
    padding-top: 100%;
  }
}

.category-card__title {
  margin-top: 9px;

  @media (--lg) {
    margin-top: 13px;
    text-align: center;
  }
}
