.customer-info {
  .template-customers-order & {
    display: none;
  }
}

.customer-info__content {
  padding: 0 25px 46px;
  color: var(--white);

  @media (--md) {
    padding: 16px 0 0;
  }
}

.customer-info__title {
  margin-bottom: 5px;
}

.customer-info__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
