{%- assign content = content | default: false -%}
{% assign class = class | default: false %}

{% capture classes %}wysiwyg{% if class %} {{- class -}}{% endif %}{% endcapture %}
<div class="{{- classes -}}" data-module="wysiwyg">
  {% if content %}
    {{content}}
  {% endif %}
</div>
