{
  "ignorePatterns": ["/assets", "dev/data"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["standard"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": [
      "error",
      {
        "typeof": true
      }
    ],
    "no-duplicate-imports": "error",
    "block-scoped-var": "error",
    "camelcase": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "[sS]wiper|plyr|loadImg",
        "argsIgnorePattern": "^el$|_.*"
      }
    ]
  }
}
