{% assign class = class | default: false %}
{% assign is_subscription_customer = is_subscription_customer | default: false %}
{% capture class %}account-sidebar-menu{% if class %} {{- class -}}{% endif %}{% endcapture %}
{% assign full_template_name = template.name | append: "," | append: template.suffix | split: "," | compact | join: "." %}

<section class="{{ class }}" data-module="account-sidebar-menu">
  <div class="account-sidebar-menu__wrapper">
    <div class="account-sidebar-menu__trigger js-account-sidebar-menu-trigger">
      <p class="h4">Account Menu</p>
    </div>
    <div class="account-sidebar-menu__content js-account-sidebar-menu-content">
      <ul class="account-sidebar-menu__list">
        <li class="account-sidebar-menu__item{% if full_template_name == 'account' %} account-sidebar-menu__item--active{% endif %}">
          <a href="{{ routes.account_url }}" class="account-sidebar-menu__item-link">Order History</a>
        </li>
        <li
          class="account-sidebar-menu__item {% if full_template_name == 'account.subscriptions' %} account-sidebar-menu__item--active{% endif %}"
        >
          {% render 'og-subscriptions-link' %}
        </li>
        <li class="account-sidebar-menu__item">
          <a href="{{ routes.account_logout_url }}" class="account-sidebar-menu__item-link">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</section>
