<div class="form-forgot" data-module="form-forgot">
  <div class="form-forgot-header">
    <h2 class="h5">RESET YOUR PASSWORD</h2>
    <p class="b1 form-forgot-header__copy">We will send you an email to reset your password.</p>
  </div>
  {% form 'recover_customer_password', class: 'form-forgot-form' %}
    {% if form.posted_successfully? %}
      <p class="b1 form-forgot-form__success">Please check the email you provided for a link to reset your password.</p>
    {% else %}
      {{ form.errors | default_errors }}
    {% endif %}
    {%- render 'input-email', name: 'email', id: 'customer_email', placeholder: 'Email' -%}
    {% render 'button', tag: 'button', custom_attrs: 'type="submit"', button_value: 'SUBMIT', class: 'button--light form-forgot-submit' %}
  {% endform %}
  <button class="form-forgot__cancel button-reset b1">Cancel</button>
</div>
