{% assign class = class | default:false %}
{% capture class %}title-description-card{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="title-description-card">
  <h2 class="module-name">title-description-card</h2>
</section>
