/* styles for the product-hero-card module go in this file */

.product-hero-card {
  padding: 0 0 24px;

  @media (--md) {
    padding: 0 0 113px;
  }

  &--no-padding {
    padding: 0;
  }

  &--plp {
    padding: 0;
    background-color: var(--black);
  }
}

.product-hero-card__inner {
  position: relative;
  opacity: 0.5;

  .swiper-slide-active & {
    opacity: 1;
  }

  .product-hero-card--no-opacity & {
    opacity: 1;
  }

  &::before {
    .product-hero-card--hover & {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      width: 100%;
      height: 100%;
      border: 4px solid var(--blood);
      z-index: 9;
      box-sizing: border-box;
      pointer-events: none;
    }

    @each $color in bronze, steel, white, pumpkin, yule, passion, shamrock, bloom, independance, blue {
      .product-hero-card--hover.product-hero-card--palette-$(color) & {
        border-color: var(--$color);
      }
    }

    .product-hero-card--hover.swiper-slide-active:hover & {
      display: block;
    }
  }
}

.product-hero-card__wrapper {
  padding: 0 4px;

  @media (--md) {
    padding: 0 calc(23px / 2);
  }
}

.product-hero-card__image-wrapper {
  position: relative;
  display: block;
  padding-top: percentage(416/312);

  @media (--md) {
    padding-top: percentage(807/1441);
  }
}

.product-hero-card__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 26px 14px 20px;
  color: var(--white);
  background: var(--transparent-black);
  transition: opacity var(--transition-timing) var(--transition-easing), opacity var(--transition-timing) var(--transition-easing);
  opacity: 0;
  visibility: hidden;

  @media (--md) {
    padding: 46px 52px;
  }

  .swiper-slide-active & {
    opacity: 1;
    visibility: visible;
  }

  .product-hero-card--hover & {
    display: flex;
    align-items: flex-end;
    padding: 10px 14px;
    transform: translateY(354px);
    transition: transform var(--transition-timing) var(--transition-easing);

    @media (--xl) {
      padding: 46px 52px;
    }
  }

  .product-hero-card--hover:hover & {
    height: 100%;
    transform: none;
  }
}

.product-hero-card__item-title {
  display: block;
  max-width: percentage(468/965);
  overflow: hidden;
  text-decoration: none;
  color: var(--blood);

  .product-hero-card--hover & {
    max-width: 100%;

    @media (--xl) {
      max-width: percentage(468/965);
    }
  }

  @each $color in bronze, steel, white, pumpkin, yule, passion, shamrock, bloom, independance, blue {
    .product-hero-card--palette-$(color) & {
      color: var(--$color);
    }
  }
}

.product-hero-card__item-price {
  text-transform: uppercase;
}

.product-hero-card__item-reviews {
  margin-top: 5px;
}

.product-hero-card__item-description {
  .product-hero-card--hover & {
    max-width: 668px;
    padding-top: 20px;

    @media (--xl) {
      padding-top: 46px;
    }
  }
}

.product-hero-card__item-cta {
  margin-top: 10px;

  @media (--xl) {
    margin-top: 20px;
  }
}
