{%- assign title = title | default: false -%}
{%- assign embed_code = embed_code | default: false -%}
{%- if embed_code -%}
  <section class="pdp-video bg--black" data-module="pdp-video">
    {%- if title -%}
      {%- render 'section-title', title: title, class: 'pdp-video__title bg--black' -%}
    {%- endif -%}
    <div class="pdp-video__inner">
      {{- embed_code -}}
    </div>
  </section>
{%- endif -%}
