{% assign class = class | default: false %}
{% capture class %}cart-sidebar{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }}" data-module="cart-sidebar">
  <div class="cart-sidebar__summary">
    <p class="cart-sidebar__summary-title h8">Order Summary</p>
    <div class="cart-sidebar__item">
      <p class="cart-sidebar__label b2">Total</p>
      <p class="cart-sidebar__cost b1">
        <span>{{ cart.total_price | money }}</span>
      </p>
    </div>
    <div class="cart-sidebar__separator"></div>
    <p class="cart-sidebar__label b2">Shipping & taxes calculated at checkout</p>

    {%- capture checkout_button_attrs -%}
      type="button"
      name="checkout"
      @click="checkout"
      :class="{ 'subscription-checkout-button': cartHasSubscriptionItem, 'pop-out-cart__checkout-button': !cartHasSubscriptionItem }"
    {%- assign checkout_button_value = 'cart.general.checkout' | t -%}
    {%- endcapture -%}
    {%- render 'button'
      tag: 'button',
      class: 'button button--small-h button--full',
      custom_attrs: checkout_button_attrs,
      button_value: checkout_button_value -%}

    <div class='cart-sidebar__payment-method-button-container'>
      {%- comment -%}requires shopify payments account setup{%- endcomment -%}
      {% if additional_checkout_buttons %}
      <div v-if="!cartHasSubscriptionItem" class="cart-sidebar__payment-method-button">
        {{ content_for_additional_checkout_buttons }}
      </div>
      {% endif %}
    </div>
  </div>
</section>
