{%- assign logo = settings.logo | img_url: 'master' -%}
{%- render 'promo-bar' -%}

<header class="navigation z10" data-module="navigation">
  <div class="navigation__container">
    <button class="navigation__hamburger hamburger js-hamburger" type="button">
      <div class="navigation__hamburger-box hamburger-box">
        <span class="navigation__hamburger-inner hamburger-inner"></span>
      </div>
    </button>
    <div class="navigation__logo">
      <a href="" class="naviation__logo-link">
        {%- render 'image', src: logo, class: 'navigation__logo-image' -%}
      </a>
    </div>
    <div class="navigation__utilities">
      <div class="navigation__utilities-login">{%- render 'svg', type: 'login' -%}</div>
      <div class="navigation__utilities-cart">{%- render 'svg', type: 'cart' -%}</div>
      <div class="navigation__utilities-search">{%- render 'svg', type: 'search-light' -%}</div>
    </div>
    <div class="navigation__main js-mobile-menu">
      <div class="navigation__login">
        <div class="navigation__login-inner">
          {%- render 'svg', type: 'login', class: 'navigation__login-icon' -%}
          Login
        </div>
        <button class="navigation__close js-hamburger" type="button">
          {%- render 'svg', type: 'close', class: 'navigation__close-icon' -%}
        </button>
      </div>
      {%- render 'menu', links: menu.links, class: 'navigation__menu' -%}
      <div class="navigation__partition">
        {%- assign banner = 'menu_slideout.png' | file_url -%}
        {%- render 'image', src: banner, class: 'navigation__partition-image' -%}
      </div>
      {%- render 'footer', class: 'footer--navigation navigation__footer' -%}
      <div class="navigation__copyright">&copy; Death Wish Coffee Co. {{ 'now' | date: '%Y' }}. All Rights Reserved.</div>
    </div>
  </div>
</header>
