/* styles for product-form */

.product-form {
  max-width: 100%;
}

.product-form__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 29px;

  &--single {
    display: none;
  }

  .product-form--pdp-add-to-cart & {
    margin-bottom: 16px;
    align-items: flex-start;

    @media (--md) {
      margin-bottom: 32px;
    }
  }
}

.product-form__option {
  width: 100%;

  &:not(:first-child) {
    margin-top: -1px;
  }

  & + .product-form__option {
    border-top: 1px solid var(--shadow);

    @media (--xl-max) {
      margin-top: 10px;
      border-top: 0;
    }
  }

  .product-card--row-1-plp & {
    @media (--xl-max) {
      margin-top: 0;
    }
  }

  .product-form--pdp-add-to-cart & {
    margin-top: 27px;
    border-top: 0;

    @media (--md) {
      max-width: 664px;
      margin-top: 12px;
    }
  }
}

.product-form__option-values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .product-form--pdp-add-to-cart & {
    flex-direction: column;
    align-items: flex-start;
    background: none;
    border: 0;

    @media (--lg) {
      flex-direction: row;
      justify-content: flex-start;
      margin: 0 -4px;
    }
  }
}

.product-form__option-value {
  flex: 1 1 50%;
  width: 50%;
  min-width: 103px;

  @media (--xxl) {
    flex: 1 1 33.3333333333%;
    width: 33.3333333333%;
    min-width: 0;
  }

  .product-form--pdp-add-to-cart & {
    width: 100%;
    max-width: 216px;

    @media (--lg) {
      width: 33.3333333333%;
      padding: 0 4px;
      flex: 0 1 auto;
    }

    & + .product-form__option-value {
      margin-top: 17px;

      @media (--lg) {
        margin-top: 0;
        margin-bottom: 8px;
      }
    }
  }
}

.product-form__option-value-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 0 10px;
  cursor: pointer;
  background: var(--steel);
  border-right: 1px solid var(--shadow);

  @media (--xl-max) {
    border-bottom: 1px solid var(--shadow);
    border-left: 1px solid var(--shadow);
  }

  .product-form__option-value:first-child & {
    @media (--xl-max) {
      border-top: 1px solid var(--shadow);
    }
  }

  .product-card--row-1-plp & {
    @media (--xl-max) {
      margin-top: 0;
      border-top: 0 !important;
      border-left: 0;
    }
  }

  .product-form__option-value:last-child &,
  .product-form__option-value:nth-child(2n) & {
    @media (--xl) and (--xxl-max) {
      border-right: none;
    }
  }

  .product-form__option-value:nth-child(n+3) & {
    @media (--xl) and (--xxl-max) {
      border-top: 1px solid var(--shadow);
    }
  }

  .product-form__option-value:last-child &,
  .product-form__option-value:nth-child(3n) & {
    @media (--xxl) {
      border-right: none;
    }
  }

  .product-form__option-value:nth-child(n+4) & {
    @media (--xxl) {
      border-top: 1px solid var(--shadow);
    }
  }

  .product-form--pdp-add-to-cart & {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 16px;
    color: var(--black);

    @media (--md) {
      @extend .b2;
    }
  }
}

.product-form__option-value-input {
  display: none;

  &:checked {
    & + .product-form__option-value-label {
      position: relative;
      background: var(--slate);
      color: var(--white);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        left: 0;
        bottom: 0;
        width: calc(100% - 2px);
        height: calc(100% - 1px);
        border: 1px solid var(--blood);

        @each $color in bronze, steel, white, pumpkin, yule, passion, shamrock, bloom, independance {
          .product-form--palette-$(color) & {
            border-color: var(--$color);
          }
        }
      }
    }
  }
}

.product-form__option-value-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & > * {
    line-height: 1;
  }
}

.product-form__option-value-icon {
  display: block;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  margin-right: 9px;
}

.product-form__button {
  width: 100%;
  max-width: 216px;
  margin: 0 auto;

  @media (--lg) {
    width: calc(33.3333333333% - 4px);
    max-width: 100%;
  }

  .product-form--pdp-add-to-cart & {
    margin-left: 0;
  }
}

.product-form__option-title {
  .product-form--pdp-add-to-cart & {
    margin-bottom: 20px;

    @media (--md) {
      @extend .h5;

      margin-bottom: 12px;
      text-transform: capitalize;
    }
  }
}

.product-form__option-price {
  &.active {
    display: block;
  }

  .product-form--plp & {
    display: none !important;
  }
}

.product-form__select {
  position: relative;
  width: 100%;
  max-width: 216px;
  height: 48px;
  margin-top: 28px;

  &::before {
    @extend .h5;

    content: '+';
    position: absolute;
    top: calc(50% - 3px);
    right: 14px;
    transform: translate(0, -50%);
    color: var(--steel);
  }
}

.product-form__select-dropdown {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  background: transparent;
  border: 1px solid var(--steel);
  color: var(--steel);
  appearance: none;
}

.product-form__message {
  margin-bottom: 32px;
  color: var(--blood);
}

.option-icon {
  width: 50px;
  height: 50px;

  svg {
    height: 100%;
    max-width: 40px;

    path, circle {
      .product-form__option-value-input:checked + .product-form__option-value-label & {
        fill: var(--white);
      }
    }
  }
}
