{% assign class = class | default false %}
{% capture class %}customer-addresses{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="customer-addresses">
  <h2 class="module-name">customer-addresses</h2>
  {%- render 'address-list' -%}
</section>
