/* styles for the pdp-add-to-cart module go in this file */

.pdp-add-to-cart {
  padding: 23px 0;
  color: var(--white);
  text-align: left;

  @media (--md) {
    padding: 71px 0 0;
  }
}

.pdp-add-to-cart__container {
  @media (--md-max) {
    padding: 0 39px;
  }

  @media (--lg) {
    max-width: 806px;
    padding: 0 71px;
  }
}

.pdp-add-to-cart__title {
  color: var(--blood);

  @media (--md) {
    margin-bottom: 4px;
  }

  @each $color in bronze, steel, white, pumpkin, yule, passion, shamrock, bloom, independance {
    .pdp-add-to-cart--palette-$(color) & {
      color: var(--$color);
    }
  }
}

.pdp-add-to-cart__price {
  margin-bottom: 5px;
}

.pdp-add-to-cart__description {
  @media (--md) {
    margin-right: 24px;
  }
}

.pdp-add-to-cart__header {
  margin-bottom: 33px;

  @media (--md) {
    margin-bottom: 25px;
  }
}

.pdp-add-to-cart__review {
  cursor: pointer;
}

.pdp-add-to-cart__extra-contents {
  position: relative;
  margin-top: 40px;
  padding-top: 32px;

  @media (--xl) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
    padding-top: 43px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 216px;
    border-top: 1px solid var(--bone);

    @media (--xl) {
      max-width: none;
    }
  }
}

.pdp-add-to-cart__extra-content {
  margin-top: 20px;

  @media (--xl) {
    width: calc(50% - 10px);
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(-n+2) {
    @media (--xl) {
      margin-top: 0;
    }
  }
}
