<section class="form-subscribe" data-module="form-subscribe">
  <form class="form-subscribe__form form--alt">
    <p class="form-subscribe__success js-response-message"></p>
    <div class="form-subscribe__form-inner">
      {%- render 'input-email',
        class: 'form-fiel--error-alt form-field--borderless form-subscribe__field form-field--white form-field--subscribe js-input-field',
        name: 'email',
        id: 'form-subscribe-email',
        required: 'required',
        placeholder: 'Enter Your Email Address',
        label_top: true -%}
      {%- render 'button', tag: 'button', class: 'form-subscribe__submit button--small-h button--dark js-submit', button_value: 'Sign Me Up', custom_attrs: 'type="submit"' -%}
    </div>
  </form>
</section>
