{%- assign vue_attrs = vue_attrs | default: false -%}
<div is="rewards-redeem-modal" inline-template{% if vue_attrs %} {{ vue_attrs }}{% endif %}>
  <div v-if="redeemProducts.length" class="rewards-redeem-modal z9" :class="{ 'rewards-redeem-modal--active': isActive }">
    <div class="rewards-redeem-modal__overlay"></div>
    <div class="rewards-redeem-modal__wrapper">
      <button class="rewards-redeem-modal__close" @click="deactivate">{%- render 'svg', type: 'close', class: 'rewards-redeem-modal__close-icon' -%}</button>
      <div class="rewards-redeem-modal__inner">
        <h4 class="rewards-redeem-modal__title">Redeem</h4>
        <ul class="rewards-redeem-modal__list">
          <li v-for="product in finalRedeemProducts" class="rewards-redeem-modal__item">
            <div class="rewards-redeem-modal__item-details">
              <p class="rewards-redeem-modal__item-name">${product.reward.name}</p>
              <p class="rewards-redeem-modal__item-description">${product.exchange_description}</p>
            </div>
            <button
              :aria-label="'Redeem ' + product.reward.name"
              type="button"
              class="rewards redeem-modal__item-button"
              :disabled="!product.is_purchasable"
              @click.prevent="checkAndPurchase(product)"
            >
              <template v-if="product.is_purchasable">Redeem</template>
              <template v-else>Not Quite There</template>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
