{%- assign vue_attrs = vue_attrs | default: false -%}
<div is="rewards-redeem-modal" inline-template{% if vue_attrs %} {{ vue__attrs }}{% endif %}>
  <div class="rewards-redeem-modal">
    <h2 class="placeholder__title">rewards-redeem-modal</h2>
  </div>
</div>
