{%- assign class = class | default: false -%}
{%- assign prefix_tags = plp_filter_tags | split: ',' -%}

{% capture class %}plp-filter{% if class %} {{- class -}}{% endif %}{% endcapture %}

<div is="plp-filter"
     inline-template
>
  <section :class="['{{ class | escape }}', { active: isManualFilter }]">
    <div class="plp-filter__container">
      <div class="plp-filter__wrapper">
        <div class="plp-filter__inner">
          <div v-for="filter in filterDefinitions"
               :class="['plp-filter__block', { 'active': expandedFilters.includes(filter.name) }]"
          >
            <label class="plp-filter__block-title h5">
              <input class="plp-filter__block-state"
                     type="checkbox"
                     v-model="expandedFilters"
                     :value="filter.name"
              >
              ${filter.title || filter.name}
              <span class="plp-filter__block-title-icon plp-filter__block-title-icon--inactive">+</span>
              <span class="plp-filter__block-title-icon plp-filter__block-title-icon--active">&ndash;</span>
            </label>

            <div class="plp-filter__block-list">
              <div v-for="option in filterAvailableValues[filter.name]"
                   class="plp-filter__block-item"
              >
                <label :class="['plp-filter__block-item__link', {'is-selected': selectedOptions.includes(filter.name + '|' + option)}]">
                  <input class="plp-filter__block-item__state"
                         type="checkbox"
                         v-model="selectedOptions"
                         :value="filter.name + '|' + option"
                  >
                  {% comment %}
                  TODO: Need svg assets of all available options
                  {%- render 'svg', type: matched_tag_handle, class: 'plp-filter__block-item__icon' -%}
                  {% endcomment %}
                  <span class="plp-filter__block-item__link-text b1">${option}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="plp-filter__buttons" v-if="isManualFilter">
          <div class="plp-filter__buttons-item">
            {%- capture apply_custom_attributes -%}
              @click="applyFilters"
            {%- endcapture -%}
            {%- render 'button',
              class: 'plp-filter__button plp-filter__button--apply button--light button--small-w button--small-h',
              button_value: 'Apply${filterCount}',
              custom_attrs: apply_custom_attributes
            -%}
          </div>
          <div class="plp-filter__buttons-item">
            {%- capture clear_custom_attributes -%}
              @click="clearFilters"
            {%- endcapture -%}
            {%- render 'button',
              class: 'plp-filter__button plp-filter__button--clear button--light button--small-w button--small-h',
              button_value: 'Clear',
              custom_attrs: clear_custom_attributes
            -%}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
