{% assign class = class | default:false %}
{% capture class %}plp-filter{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="plp-filter">
  <h2 class="module-name">plp-filter</h2>
</section>
