<section class="form-login" data-module="form-log-in">
  <div class="form-login__container container">
    <h1 class="form-login__header h1">LOGIN</h1>
    {% form 'customer_login', class: 'form-login__form' %}
      <div class="form-login__message"></div>
      {{ form.errors | default_errors }}
      {%- render 'input-email', name: 'customer[email]', id: 'user_email', placeholder: 'Email', class: 'form-login__email' -%}
      {%- render 'input-password', name: 'customer[password]', id: 'user_password', placeholder: 'Password', class: 'form-login__password' -%}
      <div class="form-login-footer">
          {%- comment -%}
            "remember me" doesn't appear to be a thing in shopify, so leaving this out for now...
            {%- render 'input-checkbox', label: 'Keep me logged in', name: 'remember_me' -%}
            {%- endcomment -%}
          {% render 'button', tag: 'button', custom_attrs: 'type="submit"', button_value: 'Login', class: 'form-login__button button--light' %}
          <div class="form-login-footer-links">
            <a class="form-login-footer__account b1" href="/account/register">Create Account</a>
            <a class="form-login-footer__account b1" href="{{- request.path | append: '#forgot' -}}">Forgot Password?</a>
          </div>
        </div>
    {% endform %}
  </div>
</section>
