/* styles for the form-log-in module go in this file */

.form-login {
  background-color: var(--black);
  padding-top: 10rem;
  flex: 1;
}

.form-login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login__header {
  color: var(--blood);
  margin-bottom: 2rem;

  @media (--md-max) {
    margin-bottom: 3rem;
  }
}

.form-login__form {
  width: 100%;
  max-width: 336px;
}

.form-login__email .form-field__input {
  width: 100%;
}

.form-login__password .form-field__input {
  width: 100%;
  margin-top: 2rem;
}

.form-login__button {
  width: 100%;
}

.form-login-footer-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login-footer__account {
  text-decoration: none;
  color: var(--white);
}
