/* styles for product-carousel */

.product-carousel {
  background: var(--black);
  padding-top: 50px;
  padding-bottom: 114px;
  padding-right: 7.5rem;
  padding-left: 7.5rem;

  @media (--lg-max) {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  @media (--md-max) {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  @media (--sm-max) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.product-carousel[data-init-at-breakpoint="xl"] {
  @media (--xl) {
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
  }

  .alt-product-card {
    @media (--xl) {
      width: calc(100% / 4 - 10px);
    }
  }

  .product-carousel-next, .product-carousel-prev {
    @media (--xl) {
      display: none;
    }
  }
}

.product-carousel[data-init-at-breakpoint="lg"] {
  @media (--lg) {
    padding-right: 0;
    padding-left: 0;
  }

  .alt-product-card {
    @media (--lg) {
      width: calc(100% / 3 - 15px);
    }
  }

  .product-carousel-next, .product-carousel-prev {
    @media (--lg) {
      display: none;
    }
  }
}

.product-carousel__wrapper {
  justify-content: space-between;
}

.product-carousel[data-init-at-breakpoint="md"] {
  @media (--md) {
    padding-right: 0;
    padding-left: 0;
  }

  .alt-product-card {
    @media (--md) {
      width: calc(50% - 20px);
    }
  }

  .product-carousel-next, .product-carousel-prev {
    @media (--md) {
      display: none;
    }
  }
}

.product-carousel-next, .product-carousel-prev {
  &::after {
    content: none;
  }

  position: absolute;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  top: 30%;
  padding-top: 3px;
  color: var(--blood);

  @media (--md-max) {
    width: 40px;
    height: 40px;
  }
}

.product-carousel-next {
  right: 0;
}

.product-carousel-prev {
  left: 0;
}
