<section class="product-carousel" data-module="product-carousel">
  <div class="product-carousel__container swiper-container">
    <div class="product-carousel__wrapper swiper-wrapper">
      {{- children -}}
    </div>
  </div>
</section>
