{% assign class = class | default false %}
{% capture class %}order-history{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="order-history">
  <h2 class="module-name">order-history</h2>
</section>
