.announcement-bar {
  background: RGB(var(--color-background));
  color: RGB(var(--color-text));
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 100%;
  overflow: hidden;
  position: relative;
  grid-column: 1 / -1; 
  padding: 0 20px;
}

.announcement-bar__text {
  margin-bottom: 0 !important;
  padding: 10px 20px !important;
  max-width: none; 
}

.announcement-bar input {
  display: none;
}

.announcement-bar label {
  display: none;
  transform: rotate(-90deg);
  height: 100%;
  place-content: center;
  z-index: 2;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.announcement-bar label + label + label, .announcement-bar input:first-of-type + label + label {
  transform: rotate(90deg);
  grid-column: 3 / 4;
}

.announcement-bar label:first-of-type, .announcement-bar label:last-of-type, .announcement-bar input:first-of-type:last-of-type ~ label {
  display: none !important;
}

.announcement-bar label:hover {
  cursor: pointer;
}

.announcement-bar label svg {
  width: 20px;
  height: auto;
}

.announcement-bar label svg path {
  fill: RGB(var(--color-foreground));
}

.announcement-bar__slide {
  pointer-events: none;
  grid-column: 2/3;
  grid-row: 1/1;
  margin-left: auto !important;
  margin-right: auto !important;
  transition: opacity .25s ease;
  display: none;
}

.announcement-bar input + label + label {
  display: none;
}

.announcement-bar input:checked + label + label + label + .announcement-bar__slide {
  pointer-events: auto;
  display: block;
}

.announcement-bar input:checked + label + label + label, .announcement-bar input:checked + label {
  display: grid;
}

.announcement-bar input:first-of-type + label + label, .announcement-bar input:last-of-type + label + label {
  display: grid;
  z-index: 1;
}


@media screen and (max-width: 676px) {
  .announcement-bar {
    grid-template-columns: calc(100% - 40px - 40px);
  }

  .announcement-bar label {
    left: 10px;
  }

  .announcement-bar label + label + label, .announcement-bar input:first-of-type + label + label {
    right: 10px;
  }
}
