.announcement-bar {
  background: RGB(var(--color-background));
  color: RGB(var(--color-text));
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 100%;
  overflow: hidden;
  position: relative;
  grid-column: 1 / -1; 
}

.announcement-bar__text, .marquee-styles__text {
    margin-bottom: 0 !important;
    padding: 10px 0 !important;
    max-width: none; 
}

.announcement-bar input {
  display: none;
}

.announcement-bar label {
  left: calc(20% - 30px);
  display: none;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  height: 100%;
  place-content: center;
  z-index: 2;
}

.announcement-bar label + label + label, .announcement-bar input:first-of-type + label + label {
  left: unset;
  right: calc(20% - 30px);
  transform: rotate(90deg);
}

.announcement-bar label:first-of-type, .announcement-bar label:last-of-type, .announcement-bar input:first-of-type:last-of-type ~ label {
  display: none !important;
}

.announcement-bar label:hover {
  cursor: pointer;
}

.announcement-bar label svg {
  width: 20px;
  height: auto;
}

.announcement-bar label svg path {
  fill: RGB(var(--color-foreground));
}

.announcement-bar__slide {
  pointer-events: none;
  opacity: 0;
  grid-column: 1/1;
  grid-row: 1/1;
  margin-left: auto !important;
  margin-right: auto !important;
  transition: opacity .25s ease;
}

.announcement-bar input + label + label {
  display: none;
}

.announcement-bar input:checked + label + label + label + .announcement-bar__slide {
  pointer-events: auto;
  opacity: 1;
}

.announcement-bar input:checked + label + label + label, .announcement-bar input:checked + label {
  display: grid;
}

.announcement-bar input:first-of-type + label + label, .announcement-bar input:last-of-type + label + label {
  display: grid;
  z-index: 1;
}


@media screen and (max-width: 676px) {
  .announcement-bar {
    grid-template-columns: calc(100% - 40px - 40px);
  }

  .announcement-bar label {
    left: 10px;
  }

  .announcement-bar label + label + label, .announcement-bar input:first-of-type + label + label {
    right: 10px;
  }
}
