.__theme-primary {
  --color-background: var(--color-background-default);
  --color-text: var(--color-text-default);
  --color-foreground: var(--color-foreground-default);
  --color-foreground-text: var(--color-foreground-text-default);
  --color-border: var(--color-border-default);
}

.__btn-clr-primary {
  --color-foreground: var(--color-background-default);
  --color-foreground-text: var(--color-text-default);
}

.__theme-2 {
  --color-background: var(--color-background-2);
  --color-text: var(--color-text-2);
  --color-foreground: var(--color-foreground-2);
  --color-foreground-text: var(--color-foreground-text-2);
  --color-border: var(--color-border-2);
}

.__btn-clr-2 {
  --color-foreground: var(--color-background-2);
  --color-foreground-text: var(--color-text-2);
}

.__theme-3 {
  --color-background: var(--color-background-3);
  --color-text: var(--color-text-3);
  --color-foreground: var(--color-foreground-3);
  --color-foreground-text: var(--color-foreground-text-3);
  --color-border: var(--color-border-3);
}

.__btn-clr-3 {
  --color-foreground: var(--color-background-3);
  --color-foreground-text: var(--color-text-3);
}

.__theme-4 {
  --color-background: var(--color-background-4);
  --color-text: var(--color-text-4);
  --color-foreground: var(--color-foreground-4);
  --color-foreground-text: var(--color-foreground-text-4);
  --color-border: var(--color-border-4);
}

.__btn-clr-4 {
  --color-foreground: var(--color-background-4);
  --color-foreground-text: var(--color-text-4);
}

.__theme-5 {
  --color-background: var(--color-background-5);
  --color-text: var(--color-text-5);
  --color-foreground: var(--color-foreground-5);
  --color-foreground-text: var(--color-foreground-text-5);
  --color-border: var(--color-border-5);
}

.__btn-clr-5 {
  --color-foreground: var(--color-background-5);
  --color-foreground-text: var(--color-text-5);
}

body > main > .commence-section > div {
  padding: calc(var(--sectionVerticalSpacing) * var(--topSpacingRatio))
    var(--sectionGuttersSpacing)
    calc(var(--sectionVerticalSpacing) * var(--bottomSpacingRatio))
    var(--sectionGuttersSpacing);
  position: relative;
  color: RGB(var(--color-text));
  background-color: RGB(var(--color-background));
}


 .commence-section a {
    color: RGB(var(--color-text));
  }


body > main > .commence-section > div:after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  background: RGB(var(--color-background));
  z-index: -1;
}
body > main > .commence-section {
  width: 100%;
  max-width: var(--siteMaxWidth);
  margin: 0 auto;
}

.__align-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.__align-center p,
.__align-center > * {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.__align-default,
.__align-left {
  text-align: left;
  align-items: flex-start;
  margin-right: auto;
}
.__align-default p,
.__align-default > *,
.__align-left p,
.__align-left > * {
  justify-content: flex-start;
  margin-right: auto;
}
.__align-right {
  text-align: right;
  align-items: flex-end;
  margin-left: auto;
}
.__align-right p,
.__align-right > * {
  justify-content: flex-end;
  margin-left: auto;
}

.__crop-default {
  padding-top: var(--imageRatio);
}
.__crop-circle,
.__crop-rounded-square,
.__crop-square {
  padding-top: 100%;
}
.__crop-landscape,
.__crop-rounded-landscape,
.__crop-semicircle-landscape {
  padding-top: 66.66%;
}
.__crop-rounded-wide,
.__crop-semicircle-wide,
.__crop-wide {
  padding-top: 30%;
}
.__crop-arch,
.__crop-portrait,
.__crop-rounded-portrait,
.__crop-semicircle-portrait {
  padding-top: 133.33%;
}
.__crop-circle,
.__crop-semicircle,
.__crop-semicircle-landscape,
.__crop-semicircle-portrait,
.__crop-semicircle-wide {
  border-radius: 4000px;
}
.__crop-circle img,
.__crop-circle:after,
.__crop-semicircle img,
.__crop-semicircle-landscape img,
.__crop-semicircle-landscape:after,
.__crop-semicircle-portrait img,
.__crop-semicircle-portrait:after,
.__crop-semicircle-wide img,
.__crop-semicircle-wide:after,
.__crop-semicircle:after {
  border-radius: 4000px;
}
.__crop-rounded,
.__crop-rounded-landscape,
.__crop-rounded-portrait,
.__crop-rounded-square,
.__crop-rounded-wide {
  border-radius: calc(var(--vwSize) * 2);
}
.__crop-rounded img,
.__crop-rounded-landscape img,
.__crop-rounded-landscape:after,
.__crop-rounded-portrait img,
.__crop-rounded-portrait:after,
.__crop-rounded-square img,
.__crop-rounded-square:after,
.__crop-rounded-wide img,
.__crop-rounded-wide:after,
.__crop-rounded:after {
  border-radius: calc(var(--vwSize) * 2);
}
@media screen and (max-width: 676px) {
  .__crop-rounded,
  .__crop-rounded-landscape,
  .__crop-rounded-portrait,
  .__crop-rounded-square,
  .__crop-rounded-wide {
    border-radius: calc(var(--pxSize) * 2);
  }
  .__crop-rounded img,
  .__crop-rounded-landscape img,
  .__crop-rounded-landscape:after,
  .__crop-rounded-portrait img,
  .__crop-rounded-portrait:after,
  .__crop-rounded-square img,
  .__crop-rounded-square:after,
  .__crop-rounded-wide img,
  .__crop-rounded-wide:after,
  .__crop-rounded:after {
    border-radius: calc(var(--pxSize) * 2);
  }
}
.__crop-arch {
  border-top-left-radius: 4000px;
  border-top-right-radius: 4000px;
}
.__crop-arch img,
.__crop-arch:after {
  border-top-left-radius: 4000px;
  border-top-right-radius: 4000px;
}

.commence-section .h0, 
.commence-section h1, 
.commence-section .h1, 
.commence-section h2, 
.commence-section .h2, 
.commence-section h3, 
.commence-section .h3, 
.commence-section h4, 
.commence-section .h4, 
.commence-section h5, 
.commence-section .h5, 
.commence-section h6, 
.commence-section .h6, 
.commence-section p, 
.commence-section .p, 
.commence-section .p-sm, 
.commence-section .p-lg {
  margin-bottom: 1rem;
}

.commence-section p,
.commence-section .p,
.commence-section .p-sm,
.commence-section .p-lg {
  letter-spacing: 0;
  font-family: var(--fenomen);
  font-weight: 400;
  margin: 0 0 1rem 0;
}

.commence-section p,
.commence-section .p {
  font-size: calc(1.15rem * var(--font-body-scale));
}

.commence-section .p-sm,
.commence-section .p-sm > p {
  font-size: calc(1rem * var(--font-body-scale));
}

.commence-section .p-lg,
.commence-section .p-lg > p {
  font-size: calc(1.375rem * var(--font-body-scale));
}

@media (max-width: 1024px) {
  .commence-section .p-lg,
  .commence-section .p-lg > p {
    font-size: calc(1.2rem * var(--font-body-scale));
  }
}

.commence-section .h0, .__article-txt h1 {
  font-family: 'Revans', sans-serif;
  font-size: calc(4.13vw * var(--font-heading-scale));
}

.commence-section .h1, h1 {
  font-size: calc(4.5rem * var(--font-heading-scale));
}

.commence-section .h2, h2 {
  font-size: calc(3.5rem * var(--font-heading-scale));
}

.commence-section .h3, h3 {
  font-size: calc(2.8rem * var(--font-heading-scale));
}

.commence-section .h4, h4 {
  font-size: calc(2.2rem * var(--font-heading-scale));
}

.commence-section .h5, h5 {
  font-size: calc(1.8rem * var(--font-heading-scale));
}

.commence-section .h6, h6 {
  font-size: calc(1.4rem * var(--font-heading-scale));
}



@media (max-width: 1440px) {
  .commence-section .h0, .__article-txt h1 {
    font-size: calc(6rem * var(--font-heading-scale));
  }
}

@media (max-width: 1024px) {
  .commence-section .h0, .__article-txt h1 {
    font-size: calc(4rem * var(--font-heading-scale));
  }
}

@media (max-width: 676px) {
  .commence-section .h1, .commence-section h1 {
    font-size: calc(2.8rem * var(--font-heading-scale));
  }
}

@media (max-width: 676px) {
  .commence-section .h0, .__article-txt h1 {
    font-size: calc(3.2rem * var(--font-heading-scale));
  }
}

@media (max-width: 676px) {
  .commence-section .h2, .commence-section h2, .__article-txt h2 {
    font-size: calc(2.5rem * var(--font-heading-scale));
  }
}

@media (max-width: 676px) {
  .commence-section .h3, .commence-section h3, .__article-txt h3 {
    font-size: calc(1.9rem * var(--font-heading-scale));
  }
}


@media (max-width: 676px) {
  .commence-section .h4, .commence-section h4, .__article-txt h4 {
    font-size: calc(1.7rem * var(--font-heading-scale));
  }
}

@media (max-width: 676px) {
  .commence-section .h5, .commence-section h5, .__article-txt h5 {
    font-size: calc(1.5rem * var(--font-heading-scale));
  }
}

@media (max-width: 676px) {
  .commence-section .h6, .commence-section h6, .__article-txt h6 {
    font-size: calc(1.25rem * var(--font-heading-scale));
  }
}



