{% assign class = class | default false %}
{% capture class %}footer-signup{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="footer-signup">
  <h2 class="module-name">footer-signup</h2>
</section>
