<section class="rewards-wrapper bg--black" data-module="rewards-wrapper">
  {%- render 'rewards-hero', custom_attrs: ':rewards-customer="rewardsCustomer"' -%}

  {%- unless customer -%}
    {%- render 'rewards-intro',
      heading: page.metafields.reward_intro.title,
      description: page.metafields.reward_intro.description,
      items: page.metafields.reward_intro_item.title,
      image_url: page.metafields.reward_intro_item.image,
    -%}
  {%- endunless -%}

  {%- unless customer -%}
    {%- render 'cta-banner',
      title: page.metafields.cta_banner.title
      buttons_value: page.metafields.cta_banner.button_text,
      buttons_url: page.metafields.cta_banner.button_url,
      cta_text: page.metafields.cta_banner.cta_text
    -%}
  {%- endunless -%}
</section>
