<section class="rewards-wrapper bg--black" data-module="rewards-wrapper">
  {%- render 'rewards-hero', 
    custom_attrs: ':rewards-customer="rewardsCustomer"',
    title: page.metafields.rewards_hero.title,
    description: page.metafields.rewards_hero.description,
  -%}

  {%- unless customer -%}
    {%- render 'rewards-intro',
      heading: page.metafields.reward_intro.title,
      description: page.metafields.reward_intro.description,
      items: page.metafields.reward_intro_item.title,
      image_url: page.metafields.reward_intro_item.image,
    -%}
  {%- endunless -%}

  {%- render 'rewards-program',
    info: page.metafields.reward_two_up.title,
    descriptions: page.metafields.reward_two_up.description,
    items: page.metafields.reward_programs.content,
    image_url: page.metafields.reward_programs.image
  -%}

  {%- unless customer -%}
    {%- render 'cta-banner',
      title: page.metafields.cta_banner.title
      buttons_value: page.metafields.cta_banner.button_text,
      buttons_url: page.metafields.cta_banner.button_url,
      cta_text: page.metafields.cta_banner.cta_text
    -%}
  {%- endunless -%}
</section>
