{% assign class = class | default false %}
{% capture class %}plp-sort-header{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="plp-sort-header">
  <h2 class="module-name">plp-sort-header</h2>
</section>
