/* styles for plp */

.plp {
  padding: 100px 0;
}

.plp__inner {
  position: relative;

  @media (--lg) {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
  }
}

.plp__container {
  max-width: 1440px;
}

.plp__grid {
  flex: 1 0 auto;
}
