<section class="plp" data-module="plp">
  <div class="plp__container">
    {%- render 'plp-filter' -%}
  </div>
  {%- comment -%}Product count: {%- endcomment -%}
  {{ collection.products_count }} products
</section>
