{%- assign class = class | default: false -%}
{%- capture class -%}plp{% if class %} {{- class -}}{% endif %}{%- endcapture -%}

{%- capture product_form -%}
  {%- render 'product-form', class: 'product-form--plp' is_vue_component: true, custom_attrs: ':product="product" @update-variant-id="handleSelectedVariant" @added-to-cart-error="handleAddedToCartError"' -%}
{%- endcapture -%}

<section class="{{- class -}}"
         data-module="plp"
         v-cloak
>
  <div is="plp"
       inline-template
  >
    <div class="container plp__container">
      <div class="plp__inner">
        {%- render 'plp-sort-header', class: 'js-sort-header' -%}
        {%- render 'plp-filter' -%}
        {%- capture product_cards -%}
          <template v-for="(product, productIndex) in displayedProducts">
            {%- render 'product-card',
              class: 'product-card--bg-dark product-card--plp',
              is_vue_component: true,
              custom_attrs: ':product="product" :key="product.id"',
              quick_shop_form: product_form
            -%}

            {%- capture featured_product_attrs -%}
              v-if="(productIndex === 2 || productIndex === 6) && getFeaturedProductForIndex(productIndex)"
              :product="getFeaturedProductForIndex(productIndex)"
              :class="['product-card--bg-dark product-card--plp', getFeaturedProductClass(productIndex)]"
              :is-featured="true"
            {%- endcapture -%}
            {%- render 'product-card',
              class: 'product-card--bg-dark product-card--plp product-card--row-1-plp',
              is_vue_component: true,
              custom_attrs: featured_product_attrs,
              quick_shop_form: product_form
            -%}
          </template>
        {%- endcapture -%}

        <template v-if="displayedProducts.length > 0">
          {%- render 'grid',
            use_container: false,
            class: 'plp__grid grid--plp',
            children: product_cards
          -%}
        </template>
        <p class="plp__empty" v-else>No products found</p>
      </div>
    </div>
  </div>
</section>
