{%- assign class = class | default: false -%}
{%- capture class -%}plp{% if class %} {{- class -}}{% endif %}{%- endcapture -%}
{%- assign acf_filters = acf_filters | default: false -%}

{%- capture product_form -%}
  {%- render 'product-form', is_vue_component: true, custom_attrs: ':product="product"' -%}
{%- endcapture -%}

<section class="{{- class -}}"
         data-module="plp"
>
  <div is="plp"
       inline-template
  >
    <div class="container plp__container js-container">
      <div class="plp__inner">
        {%- render 'plp-sort-header', class: 'js-sort-header' -%}
        {%- render 'plp-filter',
          class: 'js-filter',
          acf_filters: acf_filters
        -%}
        {%- capture product_cards -%}
          <template v-for="(product, productIndex) in displayedProducts">
            {%- render 'product-card',
              class: 'product-card--bg-dark product-card--plp',
              is_vue_component: true,
              custom_attrs: ':product="product" :key="product.id"',
              quick_shop_form: product_form
            -%}

            {%- capture featured_product_attrs -%}
              v-if="(productIndex === 2 || productIndex === 6) && getFeaturedProductForIndex(productIndex)"
              :product="getFeaturedProductForIndex(productIndex)"
              :class="['product-card--bg-dark product-card--plp', getFeaturedProductClass(productIndex)]"
            {%- endcapture -%}
            {%- render 'product-card',
              class: 'product-card--bg-dark product-card--plp product-card--row-1-plp',
              is_vue_component: true,
              custom_attrs: featured_product_attrs,
              quick_shop_form: product_form
            -%}
          </template>
        {%- endcapture -%}

        {%- render 'grid',
          use_container: false,
          class: 'grid--plp',
          children: product_cards
        -%}
      </div>
    </div>
  </div>
</section>
