<section class="plp" data-module="plp">
  <div class="plp__container">
    {%- render 'plp-sort-header', class: 'js-sort-header' -%}
    {%- render 'plp-filter', class: 'js-filter' -%}
    {%- comment -%}product-grid{%- endcomment -%}
  </div>
</section>
