{%- assign class = class | default: false -%}
{%- capture class -%}plp{% if class %} {{- class -}}{% endif %}{%- endcapture -%}
<section class="{{- class -}}" data-module="plp">
  <div class="container plp__container js-container">
    <div class="plp__inner">
      {%- render 'plp-sort-header', class: 'js-sort-header' -%}
      {%- render 'plp-filter', class: 'js-filter' -%}
      {%- comment -%}product-grid{%- endcomment -%}
      {%- capture product_cards -%}
        {%- for product in collection.products -%}
          {%- assign price = product.price | money -%}
          {%- capture product_form -%}
            {%- render 'product-form', product: product -%}
          {%- endcapture -%}
          {%- render 'product-card',
            image_src: 'https://cdn.shopify.com/s/files/1/0506/4183/0047/files/mega_banner.jpg?v=1617163411',
            title: product.title,
            link: product.url,
            price: price,
            quick_shop_form: product_form
          -%}
        {%- endfor -%}
      {%- endcapture -%}
      {%- render 'grid', use_container: false, gutter: 'sm', children: product_cards -%}
    </div>
  </div>
</section>
