
{% comment %}
NOTE: this is a customized version of the Ordergroove snippets.
{% endcomment %}

{% comment %}
Flag to indicate if this page should use the "page" or the "app_url".

The "page" is a Shopify page that adds the correct layout and code to allow
for placing the subscription information within the styling of the account
template.

The "app_url" is a page provided by the Ordergroove Shopify app that is not
styled to use the account template and shows up as a new page which can be
odd for site visitors.
{% endcomment %}
{% assign use_page = true %}

{% if customer %}
  {% assign secret_key = "d9fe3a87a71c8e70e41775205aab741307dab756" %}
  {% assign customer_id = customer.id  %}
  {% assign timestamp = "now" | date: "%s" %}
  {% assign signature = customer_id | append: "|" | append: timestamp | hmac_sha256: secret_key %}

  {% if use_page == true %}
    {% assign subscription_url = routes.account_url | append: "?view=subscriptions" %}
  {% else %}
    {% assign subscription_url = "/apps/subscriptions/manage/?customer=" | append: customer.id | append: "&customer_signature=" | append: signature | append: "&customer_timestamp=" | append: timestamp %}
  {% endif %}
  <div
    data-module="og-account-link"
    data-og-customer-id="{{customer_id}}"
    data-og-timestamp="{{timestamp}}"
    data-og-signature="{{signature}}"
  >
    <a
      class="account-sidebar-menu__item-link"
      href="{{subscription_url}}"
    >
      Subscriptions
    </a>
  </div>
{% endif %}
