{%- assign carousel_slides = carousel_slides | default: false -%}
{%- assign class = class | default: false -%}
{%- assign title = title | default: false -%}
{%- assign view_all_url = view_all_url | default: false -%}
{%- assign total_slides = total_slides | default: 1 -%}
{%- capture classes -%}{{ class }} posts-carousel{%- endcapture -%}

<section class="{{ classes }}">
  <div class="container posts-carousel__container">
    <div class="h4 h4--no-transform posts-carousel__title">
      <a href="{{view_all_url}}" class="posts-carousel__title-anchor">
        <span class="posts-carousel__title-link">{{ title }}</span> <span class="b4 posts-carousel__view">View All</span>
      </a>
    </div>
    {% assign navigation = false %}
    {% assign loop = false %}
    {% if total_slides > 1 %}
      {% assign navigation = true %}
      {% assign loop = true %}
    {% endif %}
    {% render 'carousel', 
      children: carousel_slides,
      spacing: 30,
      slides_per_view: 4,
      navigation: navigation,
      loop: loop
      class: 'bg--black' %}
    </div>
</section>
