{%- comment -%}
This grid module expects the $grid_items argument to be an array of strings. 
Each item in the array should be the markup for an individual "card" elemnt within the grid.

Accepted Prop Types:
gutter = sm || md || lg || xl
{%- endcomment -%}

{% assign class = class | default: false %}
{% assign children = children | default: false %}
{% assign gutter = gutter | default: 'md' %}
{% assign use_margin = use_margin | default: false %}
{% capture class %}grid{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }}" data-module="grid">
  <div class="container grid-content grid-content--{{- gutter -}}{% if title or tagline or copy %} grid-content--margin-top{% endif %}{% if use_margin != false %} grid-content--margin-system{% endif %}">
    {{- children -}}
  </div>
</section>
