/* styles for button */

.button {
  cursor: pointer;
  position: relative;
  width: 216px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;
  color: var(--shadow);
  background-color: var(--blood);
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--fenomen);
  font-weight: var(--semi-bold);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none !important;
  transition: background-color var(--transition-timing) var(--transition-easing);

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    background-color: var(--bronze);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &--small-h {
    height: 48px;
  }

  &--small-w {
    width: 159px;
  }

  &--full {
    width: 100%;
  }

  &--center {
    margin: 0 auto;
  }

  &--light {
    background: var(--steel);
  }

  &--light-alt {
    background: var(--bronze);
  }

  &--dark {
    background: var(--shadow);
    color: var(--white);
  }

  &--text-light {
    color: var(--white);
  }

  &--text-dark {
    color: var(--dark);
  }

  @each $color in bronze, steel, white, pumpkin, yule, passion, shamrock, bloom, independance {
    &--palette-$(color) {
      background-color: var(--$color);
    }
  }

  &.form-submit {
    width: 65%;
    padding: 10px 15px;
    margin: 0 auto;

    @media (--md-max) {
      width: 100%;
      margin: 10px auto 0;
    }
  }

  &.form-login__button, &.form-reset-submit, &.form-forgot-submit, &.create-account-form__submit {
    height: 50px;
  }
}

.button-text {
  .button.submitting & {
    display: none;
  }
}

.button-loader-wrapper {
  display: none;
  transform: scale(0.2);
  transform-origin: center;

  .button.submitting & {
    display: block;
  }
}

.button-loader,
.button-loader::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.button-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #fff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  display: block;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button .loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity var(--transition-timing) ease;
}

.button.submitting .loading-animation {
  opacity: 1;
}
