/* styles for input-select */

.input-select__label-container {
  display: flex;
  align-items: center;
}

.input-select__label {
  margin-right: 1rem;
}

.input-select__cta {
  margin-left: auto;
  appearance: none;
  padding: none;
  border: none;
  text-decoration: underline;
  color: var(--deep-purple);
  cursor: pointer;
}

.input-select__select-container {
  position: relative;
  background-color: var(--white);

  @media (--md-max) {
    margin: 4px 0 12px;
  }
}

.input-select__select {
  width: 100%;
  appearance: none;
  border: 1px solid var(--black);
  border-radius: 8px;
  height: 45px;
  background-color: transparent;
  padding: 0 2rem;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.input-select__chevron {
  position: absolute;
  width: 15px;
  height: 13px;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-purple);
  z-index: 1;
}
