{%- layout 'theme' -%}
{%- assign product_metafields = product.metafields -%}
{%- assign product_acf = product_metafields.accentuate -%}
{%- assign palette = product_acf.palette_selection | handle -%}

{%- comment -%}PDP Hero{%- endcomment -%}
{%- render 'pdp-hero' -%}

{%- comment -%}Media Hero Grid{%- endcomment -%}
{%- assign media_hero_grid_title = product_acf.media_hero_grid_heading -%}
{%- assign media_hero_grid_metafields = product_metafields.media-grid -%}
{%- assign types = media_hero_grid_metafields.type -%}
{%- assign images = media_hero_grid_metafields.image -%}
{%- assign videos = media_hero_grid_metafields.video -%}
{%- render 'media-hero-grid',
  class: 'bg--black',
  title: media_hero_grid_title
  types: types,
  images: images,
  videos: videos,
  palette: palette
-%}

<div data-bv-show="reviews" data-bv-product-id=""></div>

{%- comment -%}Featured Product Carousel{%- endcomment -%}
{%- assign list_products = product_acf.pdp_featured_products_selector -%}
{%- assign section_title_hero = product_acf.pdp_featured_products_heading -%}

{%- if product_acf.pdp_featured_products_selector == blank -%}
  {%- assign count = 1 -%}
  {%- paginate collections.all.products by 9999 -%}
    {% for item in collections.all.products %}
      {%- if item.type == product.type and item.id != product.id -%}
        {%- if count <= 8 -%}
          {%- assign list_products = list_products | append: item.handle | append: '|' -%}
        {%- endif -%}
        {%- assign count = count | plus: 1 -%}
      {%- endif -%}
    {% endfor %}
  {%- endpaginate -%}

  {%- if list_products == blank or count <= 8 -%}
    {%- for collection in product.collections -%}
      {%- for item in collection.products %}
        {%- if item.id != product.id -%}
          {%- if count <= 8 -%}
            {%- assign list_products = list_products | append: item.handle | append: '|' -%}
          {%- endif -%}
          {%- assign count = count | plus: 1 -%}
        {%- endif -%}
      {%- endfor  %}
    {%- endfor -%}
  {%- endif  -%}
{%- endif -%}

{%- if list_products != blank -%}
  {%- assign count_carousel = 0 -%}
  {%- capture content_slides -%}
    {%- assign list_products = list_products | split: '|' | uniq -%}
    {% for handle in list_products %}
      {%- assign count_carousel = count_carousel | plus: 1 -%}
      {%- assign product_card = all_products[handle] -%}
      {% assign title = product_card.title %}
      {% assign default_image_url = product_card.images[0] | img_url: 'master' %}
      {% assign image_url = product_card.metafields.accentuate.featured_product_image_plp | map: 'src' | first %}
      {% if image_url == blank %}
        {% assign image_url = default_image_url %}
      {% endif %}
      {% assign url = product_card.url %}
      {%- capture price %}
        {{ product_card.price | money }}
      {%- endcapture -%}
      {%- assign description = product_card.description | strip_html | truncate: 500, '' -%}
      {%- assign cta_text = 'Take me There' -%}
      {%- if title != blank -%}
        {%- render 'product-hero-card'
          class: 'swiper-slide product-hero-card--no-opacity product-hero-card--hover product-hero-card--no-padding js-product-hero-card',
          title: title,
          image_url: image_url,
          url: url,
          price: price,
          description: description,
          sub_description: sub_description,
          cta_text: cta_text,
          product_id: product_card.id,
          palette: palette
        -%}
      {%- endif -%}
    {% endfor %}
  {%- endcapture -%}

  {%- assign navigation_carousel = true -%}
  {%- assign slides_per_view_carousel = 1 -%}
  {%- assign carousel_loop = true -%}

  {%- if count_carousel == 1 -%}
    {%- assign navigation_carousel = false -%}
    {%- assign carousel_loop = false -%}
  {%- endif -%}

  {%- render 'carousel',
    title: section_title_hero,
    title_class: 'section-title--product-hero-card',
    class: 'carousel--product-hero-card carousel--no-padding bg--shadow',
    children: content_slides,
    spacing: 0,
    slides_per_view: slides_per_view_carousel,
    loop: carousel_loop,
    navigation: navigation_carousel,
    palette: palette
  -%}
{%- endif -%}

{%- comment -%}Footer CTA{%- endcomment -%}
{%- render 'footer-cta', palette: palette, title: shop.metafields.globals.footer_cta_title, enable_subscribe_form: true %}
{%- render 'klaviyo-tracking' -%}
