<section class="styleguide" data-module="styleguide">
  <div class="container spacing--lg styleguide-colors">
    {%- comment -%}Colors{%- endcomment -%}
    <h2>Colors</h2>
    <div class="styleguide-colors__grid">
      <div class="styleguide-colors__grid-item">
        <h4>Primary Color Palette</h4>
        <p class="b1">Blood, Bronze and Steel are the Death Wish Coffee primary colors. They represent our bold attitude and lend themselves to highly visible design through the use of metallic or gloss effects that compliment the black heart of our brand.</p>
        <div class="styleguide-palette">
          <div class="styleguide-swatch styleguide-swatch--black">
            <span class="b2 styleguide-swatch__description">Black<br>#000000</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--blood">
            <span class="b2 styleguide-swatch__description">Blood<br>#e12727</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--bronze">
            <span class="b2 styleguide-swatch__description">bronze<br>#8f6d4f</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--steel">
            <span class="b2 styleguide-swatch__description">steel<br>#898e8e</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--white">
            <span class="b2 styleguide-swatch__description">white<br>#ffffff</span>
          </div>
        </div>
      </div>
      <div class="styleguide-colors__grid-item">
        <h4>Greyscale Color Palette</h4>
        <p class="b1">The Death Wish Coffee grayscale palette expands the darkness of the brand’s black heart. Each tone of gray is specifically formatted to work with and compliment our primary blood red. </p>
        <div class="styleguide-palette">
          <div class="styleguide-swatch styleguide-swatch--shadow">
            <span class="b2 styleguide-swatch__description">shadow<br>#201e1d</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--slate">
            <span class="b2 styleguide-swatch__description">slate<br>#464442</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--ashe">
            <span class="b2 styleguide-swatch__description">ashe<br>#5c5957</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--bone">
            <span class="b2 styleguide-swatch__description">bone<br>#bone</span>
          </div>
        </div>
      </div>
      <div class="styleguide-colors__grid-item">
        <h4>Secondary Color Palette</h4>
        <p class="b1">The Death Wish Coffee secondary color palette is based on the close association our lifestyle brand has with classic holiday and seasonal associations, but are still formatted to work with and compliment the black heart of our brand. To be used sparingly and for specific situations that call for seasonal and holiday themed design or association.</p>
        <div class="styleguide-palette">
          <div class="styleguide-swatch styleguide-swatch--pumpkin">
            <span class="b2 styleguide-swatch__description">pumpkin<br>#d24728</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--yule">
            <span class="b2 styleguide-swatch__description">yule<br>#541110</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--passion">
            <span class="b2 styleguide-swatch__description">passion<br>#a1316a</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--shamrock">
            <span class="b2 styleguide-swatch__description">shamrock<br>#00793f</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--bloom">
            <span class="b2 styleguide-swatch__description">bloom<br>#3d3385</span>
          </div>
          <div class="styleguide-swatch styleguide-swatch--independance">
            <span class="b2 styleguide-swatch__description">independance<br>#284196</span>
          </div>
        </div>
      </div>
    </div>

    {%- comment -%}Typography{%- endcomment -%}
    <h2>Typography</h2>
    <p class="h1">DEATH TO WEAK COFFEE</p>
    <p class="h2">DEATH TO WEAK COFFEE</p>
    <p class="h3">LET’S DRINK COFFEE AND THROW THINGS AT HAPPY PEOPLE</p>
    <p class="h4">LET’S DRINK COFFEE AND THROW THINGS AT HAPPY PEOPLE</p>
    <p class="h5">I’m much more of a morning person in the afternoon</p>
    <p class="p1">The difference between coffee and your opinion is that coffee<br>doesn’t make me want to punch you in the face.</p>
    <p class="b1">Sorry i’m late. I got caught up enjoying my last few moments of <br>not being here.</p>
    <p class="b2">Sorry i’m late. I got caught up enjoying my last few moments of <br>not being here.</p>
    <p class="b3">Since kids get an ice cream truck, why can’t I have a coffee truck that rides around near my place a few<br>times a day blaring Sabbath?</p>
    <p class="b4">Tea is really just hot dirty water. Change my mind.</p>
    <p class="b5">Cancelling plans is ok. Making coffee just for yourself is ok. Plotting the revenge<br>of your enemies is ok. Drinking coffee out of the skulls of your enemies is ok. It’s<br>called self care. </p>

    <h2>Mobile Typography</h2>
    <p class="h1">DEATH TO WEAK COFFEE</p>
    <p class="h2">DEATH TO WEAK COFFEE</p>
    <p class="h3">LET’S DRINK COFFEE AND THROW THINGS AT HAPPY PEOPLE</p>
    <p class="h4">LET’S DRINK COFFEE AND THROW THINGS AT HAPPY PEOPLE</p>
    <p class="h5">I’m much more of a morning person in the afternoon</p>
    <p class="p1">The difference between coffee and your opinion is that coffee<br>doesn’t make me want to punch you in the face.</p>
    <p class="b1">Sorry i’m late. I got caught up enjoying my last few moments of <br>not being here.</p>
    <p class="b2">Sorry i’m late. I got caught up enjoying my last few moments of <br>not being here.</p>
    <p class="b3">Since kids get an ice cream truck, why can’t I have a coffee truck that rides around near my place a few<br>times a day blaring Sabbath?</p>
    <p class="b4">Tea is really just hot dirty water. Change my mind.</p>
    <p class="b5">Cancelling plans is ok. Making coffee just for yourself is ok. Plotting the revenge<br>of your enemies is ok. Drinking coffee out of the skulls of your enemies is ok. It’s<br>called self care. </p>

    {%- comment -%}Buttons{%- endcomment -%}
    <h2>Buttons</h2>
    <p class="b1">Shopping Buttons</p>
    {%- render 'button', tag: 'button', button_value: 'Add to Cart' -%}
    {%- render 'button', tag: 'button', button_value: 'Add to Cart' -%}
    {%- render 'button', tag: 'button', button_value: 'Add to Cart' -%}
    <p class="b1">Text Fields Buttons</p>
    {%- render 'button', tag: 'button', button_value: 'Subscribe' -%}
    {%- render 'button', tag: 'button', button_value: 'Subscribe' -%}
    {%- render 'button', tag: 'button', button_value: 'Subscribe' -%}
    <p class="b1">I am a...</p>
    {%- assign options = 'Option1|Option2' | split: '|' -%}
    {%- render 'input-select', options: options, placeholder: 'Select' -%}


    {%- comment -%}Text Fields{%- endcomment -%}
    <h2>Text Fields</h2>
    <div>
      {%- render 'input-text', type: 'text', name: 'text-field', label: 'Text field label', id: 'text-field-1' -%}
      <div>
        {%- render 'input-radio', name: 'input-radio', label: 'Option 1', id: 'radio1' -%}
        {%- render 'input-radio', name: 'input-radio', label: 'Option 2', id: 'radio2' -%}
      </div>
      <div>
        {%- render 'input-checkbox', name: 'input-checkbox1', label: 'Option 1', id: 'checkbox1' -%}
        {%- render 'input-checkbox', name: 'input-checkbox2', label: 'Option 2', id: 'checkbox2' -%}
      </div>
    </div>
    <div>
      {%- render 'input-textarea', name: 'text-field', label: 'Text Area label', id: 'textarea-1' -%}
      {%- render 'input-select', options: options, placeholder: 'Select' -%}
    </div>
  </div>
</section>
