<section class="form-contact container" data-module="form-contact">
  <form class="form-contact-form" action="/" data-name="General Inquiry">
    {%- render 'input-text', name: 'name', id: 'name', label: 'Name', placeholder: 'John Smith', label_top: true -%}
    {%- render 'input-email', name: 'email', id: 'email', label: 'Email', placeholder: 'johnsmith@gmail.com', label_top: true  -%}
    {%- render 'input-text', name: 'phone', id: 'phone', label: 'Phone', placeholder: '(123) 456-7890', label_top: true -%}
    {%- render 'input-textarea', name: 'message', id: 'message', label: 'Message', placeholder: 'Type your message...', label_top: true -%}
    <div class="form-contact-submit">
      {% render 'button', tag: 'button', custom_attrs: 'type="submit"', button_value: 'Submit', class: 'form-contact-submit__btn' %}
    </div>
    {%- render 'loading-animation', class: 'hidden' -%}
  </form>
</section>
