{% assign class = class | default:false %}
{% capture class %}pdp-hero{% if class %} {{- class -}}{% endif %}{% endcapture %}

<section class="{{ class }} placeholder" data-module="pdp-hero">
  {%- render 'carousel' -%}
  {%- render 'pdp-add-to-cart' -%}
</section>
