.mirror-image-hero {
  margin: 0;
}

.mirror-image-hero__wrapper {
  position: relative;
}

.mirror-image-hero__image {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 102%;
  }

  .mirror-image-hero--single & {
    &::before {
      padding-top: 54%;
    }
  }
}

.mirror-image-hero__content {
  padding: 34px 24px 50px;
  color: var(--white);

  @media (--xl) {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 694px;
    padding: 0 10px 99px 76px;
  }

  .mirror-image-hero--reverse & {
    @media (--xl) {
      left: auto;
      right: 0;
      padding: 0 76px 99px 10px;
      text-align: right;
    }
  }
}

.mirror-image-hero__title {
  color: var(--blood);

  @media (--xl) {
    color: var(--white);
  }
}

.mirror-image-hero__description {
  @media (--xl) {
    margin-top: -5px;
  }

  & p + p {
    margin-top: 26px;
  }
}
