/* styles for input-checkbox */

.form-checkbox-container {
  display: block;
  position: relative;
  padding-left: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-checkbox__checkbox {
  display: none;
}

.form-checkbox__check-mark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 10px;
  width: 10px;
  border: 1px solid var(--shadow);
  transform: translate(0, -50%);

  .form-checkbox__checkbox:checked ~ & {
    border-color: var(--blood);
    background: var(--blood);
  }
}
