/* styles for input-checkbox */

.form-checkbox-container {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
  color: var(--white);
}

.form-checkbox__checkbox {
  visibility: hidden;
}

.form-checkbox__check-mark {
  position: absolute;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid var(--steel);
  top: 3px;

  .form-checkbox__checkbox:checked ~ & {
    border-color: var(--blood);
    background: var(--blood);
  }
}
