/* styles for the super-hero-cta module go in this file */

.super-hero-cta {
  position: relative;
  background-color: var(--black);
}

.shc__container {
  max-width: 1725px;
  margin: 0 auto;
}

.shc__wrapper {
  position: relative;
  z-index: 1;

  @media (--lg-max) {
    padding-top: 25vw;
  }
}

.shc__big-text {
  color: var(--white);
  position: absolute;
  z-index: 2;
  bottom: 0;
  font-size: calc(304 / 1725 * 100vw);

  @media (--lg-max) {
    position: relative;
  }

  .super-hero-cta--reverse & {
    text-align: right;
    right: 0;
  }

  @media (min-width: 1725px) {
    font-size: 304px;
  }
}

.shc__content {
  display: flex;
  flex-direction: column;
  width: calc(600 / 1725 * 100vw);
  margin-left: auto;

  @media (--lg-max) {
    width: 100%;
    margin-left: initial;
  }

  .super-hero-cta--reverse & {
    margin-left: initial;
    margin-right: auto;
    align-items: flex-end;

    @media (--lg-max) {
      margin-right: initial;
    }
  }

  @media (min-width: 1725px) {
    width: 600px;
  }
}

.shc__image,
.shc__video {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;

  @media (--lg-max) {
    width: calc(1100 / 1725 * 100vw);
    position: absolute;
  }

  .super-hero-cta--reverse & {
    @media (--lg-max) {
      right: initial;
      top: 0;
      left: 0;
    }
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.shc__description {
  color: var(--white);
  margin-top: 7rem;

  .super-hero-cta--reverse & {
    text-align: right;
  }

  @media (--lg-max) {
    margin-top: 0;
  }

  @media (max-width: 1725px) and (--lg) {
    margin-top: calc(70 / 1725 * 100vw);
    font-size: calc(36 / 1725 * 100vw);
  }
}

.shc__button {
  margin-top: 7rem;

  @media (--lg-max) {
    margin-top: 2rem;
  }

  @media (max-width: 1725px) and (--lg) {
    margin-top: calc(70 / 1725 * 100vw);
  }
}

.shc__bolts-wrapper {
  position: absolute;
  bottom: 94px;
  right: 8%;
  width: 137%;

  @media (--md) {
    right: 49%;
    bottom: 100px;
    width: 77%;
    max-width: 1481px;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 101%;
  }

  .super-hero-cta--reverse & {
    right: auto;
    left: 8%;
    transform: scaleX(-1);

    @media (--md) {
      left: 49%;
    }
  }
}

.shc__bolts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
