{% assign image = image | default: false %}
{% assign class = class | default:false %}
{% capture class %}post-hero{% if class %} {{- class -}}{% endif %}{% endcapture %}

{%- if image -%}
  <section class="{{ class }}" data-module="post-hero">
    <div class="post-hero__image">
      {%- render 'image',
        src: image,
        srcset_exclude_small: true
      -%}
    </div>
  </section>
{%- endif -%}
