/* styles for the post-hero module go in this file */

.post-hero__image {
  position: relative;
  width: 100%;
  max-height: 80vh;

  &::before {
    content: '';
    display: block;
    padding-top: 160%;

    @media (--md) {
      padding-top: 42%;
    }
  }
}
